.title
    .container
        h2 оформление заказа
.cart__info
    .container
        .title
            span Ваш заказ
        .total__price
            span.total-cart
            | р.
        .show-cart
        .clear-cart
            span очистить
    //end container
//end cart__info    
.container
    .cart__form 
        form(action="")
            label(for="name") Ваше имя
            input#name(type="text")

            label(for="phone") Телефон
            input#phone(type="text")

            label(for="country") Страна
            select#country(name="country")
                option(value="ОАЭ") ОАЭ
                option(value="Россия" selected) Россия
            button.submit
                |подтвердить заказ
    //end cart__form
