// start footer
footer
    .container
        .copyright__left
            p 
            span &copy; 
            span!= site_name
        .cart__right
                .cart__icon
                    .cart__info(data-target="#cart")
                        span.total-count
                .clear-cart.btn.btn-danger!= remove_all
//end footer  