//start header
header
    .container
        .top__panel
            .logo__left
                a#home(href="/")
                    img(src="images/logo.png", alt="")
            .cart__right
                //- a#cart(href="")
                .cart__icon
                    .cart__info
                        span 2
        //end container
//end header