
//start header
header(uk-sticky)
    .container
        .top__panel
            .logo__left
                a.home#home(href="#")
                    img(src="images/logo.png", alt="")
            .cart__right
                .cart__icon
                    .cart__info(data-target="#cart")
                        span.total-count
                //- .clear-cart.btn.btn-danger!= remove_all
        //end container
//end header

