<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        header
            .top_panel
                .logo__left
                    a#home(href="/")
                        img(src="images/logo.png", alt="")
                .cart__right
                    a#cart(href="")
                        .cart__icon
                        .cart__info
            .hero__slider
                .item__1
                    img(src="iages/slide.jpg", alt="", srcset="")
                    .text
                        p 
                            span.__1 бесплатная доставка
                            span.__2 при заказе от
                            span.__3 3500 р. 
                    .button         
                .item__2
            .product__wrapper
                .title
                    h2 Каталог продукции
                .product__nav
                    ul
                        li  
                            a(href="") хит продаж
                        li
                            a(href="") для волос
                        li
                            a(href="") для лица
                        li
                            a(href="") для тела 
                        li
                            a(href="") наборы
                        li  
                            a(href="") тинты
                
                -prod_order = "купить в один клик"
                mixin product_item( prod_img, prod_name, prod_price )
                    .product__item
                        .product__image
                            img(src=prod_img, alt="", srcset="")
                            .product__name  
                                p Интенсивная маска для питания и восстановления
                            .product__price
                                p 1600 р.
                            .one-clk__order
                                a(href="")!=prod_order
                
                -prod_img_1 = 'images/pr1.jpg'
                -prod_name_1 = 'Интенсивная маска для питания и восстановления'
                -prod_price_1 = '1600'
                -prod_img_2 = 'images/pr1.jpg'
                -prod_name_2 = 'Интенсивная маска для питания ичего то еще'
                -prod_price_2 = '1600'                
                +product_item(prod_img_1, prod_name_1, prod_price_1 )
                +product_item(prod_img_2, prod_name_2, prod_price_2 )                