
-site_name = 'okbeauty'
//Product navigation links
-link_name_1 = 'хит продаж'
-link_name_2 = 'для волос'
-link_name_3 = 'для лица'
-link_name_4 = 'для тела'
-link_name_5 = 'наборы'
-link_name_6 = 'тинты'

-link_1 = '/hit.html'

//Hero slider item
-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'бесплатная доставка'
-hero_1_text2 = 'при заказе от'
-hero_1_text3 = '3500'
-button_text = 'перейти к покупкам'

//Press slider images
-press_title = ' пресса о нас'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'

//Products list page
-prod_order = "купить в 1 клик"
-product_list_title = 'Каталог продукции'
-currency = ' р.'
-add_cart = 'в корзину'
//prod_1
-prod_img_1 = 'images/pr1.jpg'
-prod_img_1_big = './images/tint_for_lips.jpg'
-prod_name_1 = '1Банка'
-prod_price_1 = '1200'
//prod_2
-prod_img_2 = 'images/pr2.jpg'
-prod_name_2 = '2Пузырь'
-prod_price_2 = '1100'                
//prod_3
-prod_img_3 = 'images/pr3.jpg'
-prod_name_3 = '3Крем'
-prod_price_3 = '1400' 

// Product page
-annotation = 'хит продаж'
-product_title = 'ТИНТ ДЛЯ ГУБ И ЩЕК OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT ТОН MARRAKECH'
-product_price = '1770'

-tipe_title = 'Тип кожи'
-effect_title = 'Эффект'
-volume_title = 'Объем'
//
-tipe_1 = 'для всех типов.'
-effect_1 = 'стойкий пигмент для лица.'
-volume_1 = '7 мл.'
//
-product__desc_title = 'Описание'
//
-ingredient_title = 'активные ингридиенты и состав'
-how__use_title = 'способ применения'
-review_title = 'отзывы'
//
-recomend_title = 'с этим товаром покупают'

//Cart page
-cart_title = 'оформление заказа'
-your_order = 'Ваш заказ'
-remove_all = 'очистить'
//
-user_name = 'Ваше имя'
-user_phone = 'Телефон'
-user_country = 'Страна'
-submit_title = 'подтвердить заказ'