-site_name = 'OK BEAUTY'
//Product navigation links
-link_name_1  = 'hit'
-link_name_2 = 'Hair'
-link_name_3 = 'Face'
-link_name_4 = 'Body'
-link_name_5 = 'Sets'
-link_name_6 = 'Tints'
-link_1 = '#'

//Hero slider

-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'Pack your beauty purse with OK BEAUTY'
-hero_1_text2 = 'when ordering from'
-hero_1_text3 = '55'
-hero_2_img = 'images/slide2.jpg'
-hero_2_text1 = 'OK BEAUTY – caring for your natural beauty'
-hero_2_text2 = 'TINT COLOR SALUTE SAFARI when buying from 55$'
-hero_2_text3 = 'limited offer'
-hero_3_img = 'images/slide3.jpg'
-hero_3_text1 = 'Meet your new hair <br> with new hair'
-hero_3_text2 = 'product capsule line'
-hero_4_img = 'images/slide4.jpg'
-hero_4_text1 = 'OK BEAUTY. Shine. Surprise. Sparkle'
-hero_5_img = 'images/slide5.jpg'
-hero_5_text1 = 'Beauty does not require sacrifice!'
-hero_5_text2 = 'we do not test our products on animals'
-hero_6_img = 'images/slide6.jpg'
-hero_6_text1 = 'Add colors to your natural beauty!'
//
-button_text = 'go shopping'
-press_title = 'Media about us'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'
//Products list page
-prod_order = 'Buy in 1 click'
-product_list_title = 'Products'
-currency = ' AED'
-add_cart = 'Add to cart'
-buy_for = 'buy for'
-to_cart_message = 'item added to cart'
//prod_1
-pid_1_prod_id = '1'
-pid_1_prod_img = 'images/pr1.jpg'
-pid_1_prod_img_big = './images/pr1.jpg'
-pid_1_prod_name = 'Intense nourishing and recovery hair mask'
-pid_1_prod_price = '184'
//
-pid_1_description = '<p>Make your hair look gorgeous and forget about its dryness and brittleness with Intense Nourishing and Recovery Hair Mask OK BEAUTY REPAIR & RECOVERY</p><p>Ideal for damaged, dull and messy hair. Enriched with keratin and plant proteins, its formula penetrates hair structure, intensively recovering and thickening it. Regular use of OK BEAUTY REPAIR & RECOVERY mask recovers hair thickness and volume and has long-lasting effect.</p><p>Has massive protective effect, makes hair smooth and elastic, protecting them from becoming brittle, as well as from damaging thermal influence of styling devices. You won t need any additional fixation products as the mask facilitates the hairstyling process. Retains moisture and makes hair stronger, shiny and soft, prevents frizzy hair, makes it more manageable and shiny.</p><p>Suitable for recovery of damaged hair and as prevention of breaking, dryness and thinning.</p><p>Volume: 200 ml</p>'
-pid_1_ingredient = '<p><strong>Keratin:</strong> restores hair thickness and volume permanently.</p><p><strong>Silk proteins:</strong> have deep protective effect, make hair extremely smooth.</p><p><strong>Aloes and hyaluronic acid:</strong> moisturize and nourish the hair well; make them strong and elastic, allowing to protect it from breakage and harmful thermal influence of styling devices and to facilitate styling process without additional hair styling products.</p><p><strong>Rosemary extract and wheat proteins:</strong> retain moisture and make hair strong, soft and shiny, prevents frizzy hair effect, making hair more manageable.</p><p>Ingredients: Aqua, Cetearyl Alcohol, Cetrimonium Chloride, Ceteareth-20, Glycerin, Behentrimonium Methosulfate, Aloe Barbadensis Leaf Juice, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Butylene Glycol, Keratin, Hydrolyzed Keratin, Benzyl Alcohol, Cetyl Alcohol, Polyquaternium-37, Ethylhexylglycerin Hydrolyzed Wheat Protein, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hyaluronic Acid, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p><p>&nbsp;</p>'
-pid_1_how_use = '<p>Apply the mask to wet hair, leave for 5-10 minutes and wash it off with water. To intensify the effect, apply hair mask to slightly dried hair and leave it for 30 minutes depending on the extent to which the hair is damaged, wash it off with water.</p>'
-pid_2_prod_img = 'images/pr2.jpg'
-pid_2_prod_img_big = './images/tint_for_lips.jpg'
-pid_2_prod_id = '2'
-pid_2_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Marrakech'
-pid_2_prod_price = '88'
//
-pid_2_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_2_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_2_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_3
-pid_3_prod_img = 'images/pr3.jpg'
-pid_3_prod_img_big = './images/pr3.jpg'
-pid_3_prod_id = '3'
-pid_3_prod_name = 'Moisturizing lip plumping balm OK BEAUTY PREP & PLUMP'
-pid_3_prod_price = '125'
//
-pid_3_description = '<p>Moisturizing lip balm O.K. Beauty is a unique volumizing lip care product. Colour formula adapts to your lips shade, makes them look more voluminous and creates full and wet lips effect without stickiness and pilling. You can use it as a make-up base too.A unique complex Hyacolor contains macromolecules of hyaluronic acid of microspheres shape diffused in plant oils. It makes lips bigger, moisturizes and revitalizes the skin.Volume: 7 ml.</p><p>ACTIVE INGREDIENTS &amp; FORMULA</p>'
-pid_3_ingredient = '<p><strong>Patented complex HYACOLOR</strong></p><p>Based on ultra-low-molecular hyaluronic acid, gives the plump lips effect immediately in a persisting and cumulative way.</p><p> </p><p><strong>Rhodiola Rosea Oil</strong></p><p>Moisturizes, nourishes and soothes lips, has a lifting effect, intensifies collagen synthesis. Flavonoids and tanning agents containing in its formula have an anti-inflammatory and healing effects making lips look healthy and beautiful.</p><p> </p><p>HYDROGENATED POLYISOBUTENE, POLYBUTENE, PENTAERYTHRITYL TETRAISOSTEARATE, ALUMINUM STARCH OCTENYLSUCCINATE, PARAFFINUM LIQUIDUM, HYDROGENATED STYRENE/ISOPRENE COPOLYMER, SILICA DIMETHYL SILYLATE, POLYETHYLENE, SODIUM HYALURONATE, RICINUS COMMUNIS SEED OIL, HYDROGENATED CASTOR OIL, RHODIOLA ROSEA ROOT EXTRACT, PEG-8, TOCOPHEROL, ASCORBYL PALMITATE, ASCORBIC ACID, CITRIC ACID, Parfum, MICA, CI 77891 (TITANIUM DIOXIDE), CI 15850</p><p>&nbsp;</p>'
-pid_3_how_use = ''
//prod_4
-pid_4_prod_img = 'images/pr4.jpg'
-pid_4_prod_img_big = './images/pr4.jpg'
-pid_4_prod_id = '4'
-pid_4_prod_name = 'Face Skin Care Oil Primer OK BEAUTY PREP & CARE'
-pid_4_prod_price = '220'
//
-pid_4_description = '<p>Save your time and some place in your cosmetic bag to reach maximum immediate effect after the first use! Fast-paced modern life and permanent haste dictate new rules: multiple-phase care becomes history. Beauty minimalism or skip-care is a new philosophy, based on many years’ experience and modern women’s needs.</p><p>Multi-purpose and multifunctional product for everyday skin care and ideal make up - OK BEAUTY PREP & CARE – will let you use just a single product to get fast and pronounced effect and to keep skin healthy and beautiful.</p><p>• Absorbs fast, has pronounced moisturizing effect</p><p>• Fights against redness, flakiness, dehydration</p><p>• Restores hydrophile-lipophile balance and skin barrier functions, making it smooth and shiny</p><p>• May be used as a primer with photoshop effect. Ideally soothes skin before applying powder or foundation, make-up becomes more long-lasting</p><p>Volume: 30 ml</p>'
-pid_4_ingredient = '<p>Japanese Camelia Oil is an excellent multipurpose care product not only for facial skin but also for the eye area, enriched in beauty vitamins А, В and Е. It’s a source of oleic acid (Omega-9) which intensifies moisturizing due to deep penetration into skin layers, also makes skin lipid barrier more penetrable for active ingredient and oils.</p><p>Peruvian Rosa Canina Oil is a wonderful basic nourishing oil, its feature is a complex of vitamins and amino acids, contains a high percentage of Vitamin С and Vitamin А. The oil contains Vitamin Е in a unique tocopherol form which strengthens its antioxidant properties. Linoleic acid Omega 6 retains moisture and derm cells. Restores skin barrier, has a rejuvenation effect.</p><p>Cherry Pit Oil is unique due to rare elaeostearic acid which absorbs ultraviolet radiation, as well as stimulates prostaglandin production which improves cell metabolism.</p><p>This is one of the softest oil, has moisturizing effect and facilitates collagen synthesis, keeps the skin tanned.</p><p>Plant Extracts are a complex based on chamomile, mint, rosehip and salvia extracts, it has antimicrobial and anti-inflammatory effects.</p><p>Squalene – plant-derived squalene (made of olive oil) has powerful antioxidant, revitalizing and rejuvenating effects, improves complexion and makes skin less sensitive.</p><p>CAMELLIA OLEIFERA SEED OIL, ROSA CANINA FRUIT OIL, PRUNUS CERASUS SEED OIL, CHAMOMILLA RECUTITA EXTRACT, ROSA CANINA FRUIT EXTRACT, MENTHA PIPERITA EXTRACT, SALVIA OFFICINALIS EXTRACT, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p>'
-pid_4_how_use
//prod_5
-pid_5_prod_img = 'images/pr5.jpg'
-pid_5_prod_img_big = './images/pr5.jpg'
-pid_5_prod_id = '5'
-pid_5_prod_name = 'Shimmer Body Lotion OK BEAUTY FLASH & CARE'
-pid_5_prod_price = '198'
//
-pid_5_description = '<p>Ideal skin in 5 minutes? It’s easy! Compliment yourself with the feeling of spending vacation at Côte dAzur with excellent, slightly tanned skin due to OK BEAUTY FLASH & CARE Weightless texture and formula of the lotion based on a complex of light and rich oils will deeply moisturize your skin and make it shine “from inside”, while shining small particles will immediately give you a new look, producing an effect of shining and ideal skin of a cover girl.</p><p>Absorbs quickly, doesn’t make clothes dirty Makes your skin look a bit tanned Creates disguising, light-reflecting effect, helping to conceal skin imperfections Volume: 150 ml</p>'
-pid_5_ingredient = '<p>Californian Jojoba Oil is natural collagen, rich in amino acids and antioxidants which are responsible for skin elasticity, moisturize it, nourish and revitalize. This is the only oil which formula includes unique gadoleic acid that retains all useful properties of this oil.</p><p>Avocado Oil - Mexican oil of beauty contains saturated fatty acids, rich in Omega-7 fatty acids (palmitic acid) which penetrates the deepest layers of the skin, enables revitalization, restores skin covering and its elasticity, provides skin with oxygen, stimulates collagen production.</p><p>Coconut Oil has natural sunscreen properties due to high level of lauric and palmitic acids; it creates breathing cover; fast in absorption; makes skin velvet, soft and glowing.</p><p>Shea Oil is African cold pressing oil, contains monounsaturated and saturated fatty acids, restores hydrophile-lipophile balance of the skin, protects its structure making healthy and smooth. А and Е vitamins have intense revitalizing and cicatrizing effects.</p><p>Olive Oil - oleic aсid Omega-9 penetrates deep layers of skin, moisturizes and nourishes it, helps active ingredients, useful substances and vitamins to penetrate the epidermis deeper and make it soft.</p><p>AQUA, MICA, BUTYROSPERMUM PARKII BUTTER, SIMMONDSIA CHINENSIS SEED OIL, OLEA EUROPAEA FRUIT OIL, PERSEA GRATISSIMA OIL, COCOS NUCIFERA OIL, GLYCERIN, LECITHIN, PANTHENOL, PRUNUS CERASUS FLOWER EXTRACT, BENZOIC ACID, SORBIC ACID, DEHYDROACETIC ACID, BENZYL ALCOHOL, Parfume, BENZYL SALICYLATE</p>'
-pid_5_how_use
//prod_6
-pid_6_prod_img = 'images/pr6.jpg'
-pid_6_prod_img_big = './images/pr6.jpg'
-pid_6_prod_id = '6'
-pid_6_prod_name = 'Moisturizing and tightening body scrub OK BEAUTY SMOOTH & CARE'
-pid_6_prod_price = '132'
//
-pid_6_description = 'Smooth, satin-like skin just after taking a shower! Youll feel this effect with a luxurious body scrub O.K. Beauty with rose petals and ripen cherry aroma. A genuine spa salon in your bathroom.<ul><li>Helps to fight stretch marks If applied regularly;</li><li>Eliminates swelling and blemishes; Makes the skin more toned;</li><li>Helps to get rid of redness, flakiness and skin irregularity without applying additional products;</li><li>The skin becomes soft and resilient;</li><li>Covers the skin with shimmering micro-particles, makes it gleam.</li><p>Weight: 250 g.</p>'
-pid_6_ingredient = '<p>Adriatic Sea salt</p><p>Has a high concentration of minerals and natural salts, antiseptic effect, gently exfoliates the skin and improves its irregularities preventing a recurrence.</p><p>Squalene and Shea oil</p><p>Squalene influences the skin cells actively, restoring their structure. Shea oil has pronounced cicatrizing and revitalizing effects. Helps to fight stretch marks, makes the skin more resilient and toned if applied regularly.</p><p>Sweet almond oil</p><p>A natural cocktail consisting of monounsaturated fats, polyunsaturated fats and vitamins, namely oleic acid, linoleic acid and vitamins E and K. Rich formula of the oil helps to moisturize the skin deeply, has a soothing effect, reduces inflammation and redness, makes the skin smooth.</p><p>SEA SALT, PRUNUS AMYGDALUS DULCIS OIL, BUTYROSPERMUM PARKII BUTTER, ROSA CENTIFOLIA FLOWER, MICA, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p>'
-pid_6_how_use = '<p>Steam the skin first to maximum effect. Each part of your body requires special care.</p><p>Hips</p><p>Massage the hips with a terry towel before exfoliation: this will improve blood circulation and scrubbing effect. Don’t overdo: you can damage your skin if you rub it too hard.</p><p>Take a handful of scrub and apply it to the wet skin. Massage the skin in circular motions, wash it with warm water and then splash it with lukewarm water.</p><p>Decollete, abdomen, inner surface of the upper arms</p><p>Only gentle and stroking motions, no aggressive petrissage techniques. Touch the inner surface of upper arms.</p><p>Feet</p><p>Knead your feet actively, massage them in circular motions.</p>'
//prod_7
-pid_7_prod_img = 'images/pr7.jpg'
-pid_7_prod_img_big = './images/pr7.jpg'
-pid_7_prod_id = '7'
-pid_7_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Safari'
-pid_7_prod_price = '88'
//
-pid_7_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_7_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_7_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_8
-pid_8_prod_img = 'images/pr8.jpg'
-pid_8_prod_img_big = './images/pr8.jpg'
-pid_8_prod_id = '8'
-pid_8_prod_name = 'Wake Up & Peel Scalp Exfoliating Mask'
-pid_8_prod_price = '110'
//
-pid_8_description = '<p>The formula used in OK BEAUTY Wake up & Peel Scalp Activator mask is based on glycolic acid, zinc, B6 vitamin and plant extracts. It prevents dandruff, treats itching, eliminates irritation, facilitates active skin cleansing and prepares your scalp for further care by improving its permeability. irritation, facilitates active skin cleansing and prepares your scalp for further care by improving its permeability. This peeling mask works as a Sebo-regulator and decreases the levels of fat secretion keeping your skin fresh significantly longer, hair and scalp clean and eliminating hyperkeratosis. It improves microcirculation preventing hair loss and boosting its growth.<p>Volume: 150ml.</p>'
-pid_8_ingredient = '<p>Glycolic acid- this fruit or alpha hydroxy acid (AHA) has a low molecular mass and acidity helping to penetrate the skin remarkably quickly, triggering skin breath process thereby facilitating the nutrition of hair bulbs which improves the growth of the new and existing hair. It reduces skin fat secretion, destroys bacteria, and prevents dandruff.</p><p>Zinc is a powerful antioxidant which has antiseptic, anti-fungal, and recovery properties. It cleans skin pores and facilitates the synthesis of collagen. It works as a Sebo-regulator keeping your scalp fresh significantly longer.</p><p>Vitamin B6 stimulates hair growth by activating dormant hair follicles, hydrates and maintains scalp moisture balance preventing fragility all over the hair. </p><p>Squalene maintains the optimal quantity of water in skin cells, eliminates dandruff and provides an antibacterial effect.</p><p>Liquorice root extract is reach in flavonoids, vitamins, and organic acids. It facilitates gentle scalp cleansing without making it too dry or irritated. It works as an antibacterial gent, reduces dryness, itching, peeling scalp skin, and prevents hair loss.</p><p>Wild yam root extractprotects your scalp against stress and dirt, reduces the secretion of skin fat, makes scalp area covered with hair healthier, improves blood circulation, and boosts hair growth.</p><p>Nicotinamide facilitates the synthesis of collagen and improves skins defensive properties.</p><p>Ceramides boost and recover scalps natural lipid barrier restoring the skin cover, prevent and eliminate hyperkeratosis.</p><p>Aqua, PPG-15 Stearyl Ether, Glycolic Acid, Steareth-2, Propanediol, Phytosterols, Caprylic/Capric Triglyceride, Lecithin, Squalane, Glycyrrhiza Glabra Root Extract, Soy Isoflavones, Butyrospermum Parkii Butter, Dioscorea Villosa Root Extract, Niacinamide, Pyridoxine HCL, Azelaic Acid, Ceramide 3, Zinc PCA, Steareth-21, Salicylic Acid, Dimethicone, Phenoxyethanol, Stearic Acid, Polyacrylate Crosspolymer-6, Benzyl Alcohol, Sodium Hydroxide, Ethylhexylglycerin, Cetyl Hydroxyethylcellulose, Rosmarinus Officinalis Leaf Extract, Disodium EDTA, Tocopherol</p>'
-pid_8_how_use = '<p>Put a small amount of the mask onto dry or wet scalp, spread it with gentle, massage-like motions, and leave it for 10-15 minutes. Wash it off and wash your hair with shampoo. Use the mask no more than 1-2 times a week.</p>'
//prod_9
-pid_9_prod_img = 'images/pr9.jpg'
-pid_9_prod_img_big = './images/pr9.jpg'
-pid_9_prod_id = '9'
-pid_9_prod_name = 'OK BEAUTY moisturize & volume conditioner for hydration and volume'
-pid_9_prod_price = '103'
//
-pid_9_description = '<p>Common conditioners and hair balsams make hair greasy and weak. However light conditioner OK BEAUTY MOISTURIZE & VOLUMIZE moisturizes and nourishes your damaged hair without excessive oil!</p><p>Suitable for every hair type as breakage,  thinning and damaging prevention.</p><p>Volume: 250 ml</p>'
-pid_9_ingredient = '<p>Unique ingredient TILICINE: based on the linden buds, it moisturizes deeply, volumizes the hair, nourishe and renews it with smoothness and shine.</p><p>Wheat Proteins: strengthen hair structure, filling the gaps.</p><p>Silk proteins and rosemary extract: protect the hair and make the styling process easier.</p><p>Aqua, Cetrimonium Chloride, Glycerin, Cetearyl Alcohol, Butyrospermum Parkii Butter, Ceteareth-20, Behentrimonium Methosulfate, Tilia Tomentosa Bud Extract, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Benzyl Alcohol, Hydroxyethylcellulose, Butylene Glycol, Cetyl Alcohol, Ethylhexylglycerin, Polyquaternium-37, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hydrolyzed Wheat Protein, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p>'
-pid_9_how_use = '<p>Put the conditioner on the clean wet hair and along them, leave for 2-4 minutes, wash it off with water. Suitable for everyday use.</p>'
//prod_10
-pid_10_prod_img = 'images/pr10.jpg'
-pid_10_prod_img_big = './images/pr10.jpg'
-pid_10_prod_id = '10'
-pid_10_prod_name = 'Volumizing shampoo OK BEAUTY CLARIFYING & VOLUMIZING'
-pid_10_prod_price = '140'
//
-pid_10_description = '<p>The volume which will last all day long and the day after? Check it for yourself with new shampoo for better volume OK BEAUTY CLARIFYING & VOLUMIZING HAIR SHAMPOO. This shampoo effectively removes the remaining hair products, dust, and excessive sebum and builds volume around hair follicles.</p><p>The shampoo formula containing active components and plant extracts is enriched with polysaccharides, flavonoids, and proteins.</p><p>Regular use of the shampoo will make your hair nice, voluminous and naturally strong.</p><p>Suitable for all hair types.</p><p>Volume: 250ml.</p>'
-pid_10_ingredient = '<p>TILICINE: provides deep hydration and better volume.</p><p>Silk proteins: facilitate the recovery of damaged hair making it naturally shiny.</p><p>Aqua, Sodium Laureth Sulfate, Sodium Cocoamphoacetate, Coco-Glucoside, Cocamide Dea, Cocamidopropyl Betaine, Glycerin, Vp/Dmapa Acrylates Copolymer, Sodium Lauroyl Sarcosinate, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Cetrimonium Chloride, Phenoxyethanol, Sodium Chloride, Benzyl Alcohol, Citric Acid, Ethylhexylglycerin, Guar Hydroxypropyltrimonium Chloride, Disodium Edta, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Parfum, Tocopherol.</p>'
-pid_10_how_use = '<p>Put the shampoo with gentle massage-like motions onto your scalp and along your hair until foam appears. Wash it off with lukewarm water. After use it is recommended to apply balm/conditioner/mask. Suitable for everyday use.</p>'
//prod_11
-pid_11_prod_img = 'images/pr11.jpg'
-pid_11_prod_img_big = './images/pr11.jpg'
-pid_11_prod_id = '11'
-pid_11_prod_name = 'OK BEAUTY concentrated serum for deep hair recovery fill & handle '

-pid_11_prod_price = '103'
//
-pid_11_description = '<p>CONCENTRATED SERUM for deep hair recovery OK BEAUTY FILL & HANDLE is an irreplaceable stage to restore your hair structure. It prepares the hair for styling without any additional  products, makes it easier to brush and  removes the unwanted fluffiness.</p><p>The serum moisturizes the fibers and thickens the hair shaft, neutralizes static electricity without weighting and greasy shine. Provides long-lasting restoration of dry, brittle and dull hair. After using  OK BEAUTY CONCENTRATED SERUM F FILL & HANDLE , the hair becomes smooth, less brittle, resistant to damage and thermal effects.</p>'
-pid_11_ingredient = '<p>Hydrolyzed Wheat Proteins: Protect hair while styling and reduce static electricity.</p><p>Linden buds extract: provides elasticity, silkiness and density, deeply nourishes, strengthens and restores hair, prevents dryness and splitting,makes styling process easier.</p><p>Babassu oil: rich in fatty acids and vitamins, it is perfectly absorbed, moisturizes and nourishes the hair, restores its structure and prevents moisture loss, which ensures their obedience and easier styling.</p><p>Silk proteins: restore damaged hair, making it more elastic, protect against negative environmental influences, give the hair a silky shine and  healthy beautiful look.</p><p>Aqua, Coceth-7, Cocamidopropyl Betaine, Phenyl Trimethicone, Glycerin, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Phenoxyethanol, Cetrimonium Chloride, Isohexadecane, Parfum, Benzyl Alcohol, Dimethiconol, Hydrolyzed Wheat Proteinpolyglyceryl-3 Caprate, Dimethicone, Ethylhexylglycerin, Trimethylsiloxysilicate, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Acrylamidopropyltrimonium Chloride/Acrylates Copolymer, Disodium Edta, Silicone Quaternium-22, Dipropylene Glycol, Benzyl Salicylate, Tocopherol</p>'
-pid_11_how_use = '<p>Put a small amount on clean, wet hair, and along it, dry and style in your usual way. You can use it on dry hair as an indelible product. Can be used instead of hair conditioner.</p>'
//prod_12
-pid_12_prod_img = 'images/pr12.jpg'
-pid_12_prod_img_big = './images/pr12.jpg'
-pid_12_prod_id = '12'
-pid_12_prod_name = 'OK Beauty brand box'
-pid_12_prod_price = '47'
//
-pid_12_description = '<p>Stylish box made of designer paper in a corporate color will be an excellent decoration for your gifts. Pack in it OK Beauty products or create New Year\'s compositions and surprises together with OK Beauty.</p>'

-pid_12_ingredient = ''
-pid_12_how_use = ''

//prod_13
-pid_13_prod_img = 'images/pr13.jpg'
-pid_13_prod_img_big = './images/pr13.jpg'
-pid_13_prod_id = '13'
-pid_13_prod_name = 'OK Beauty gift-set'
-pid_13_prod_price = '735'
//
-pid_13_description = '<p>A gift set with all products by O.K. Beauty packed in an eye-catching box will be a great gift for any occasion.</p><p>A gift set includes:</p><p>Shimmering Body Lotion</p><p>Body Scrub Moisturization & Care</p><p>Moisturizing Lip Plumping Balm</p><p>Face Skin Care Oil Primer</p><p>O.K.Beauty brand box</p>'
-pid_13_ingredient = ''
-pid_13_how_use = ''
//prod_14
-pid_14_prod_img = 'images/pr14.jpg'
-pid_14_prod_img_big = './images/pr14.jpg'
-pid_14_prod_id = '14'
-pid_14_prod_name = 'Gift-set OK Beauty Hair'
-pid_14_prod_price = '506'
//
-pid_14_description = '<p>A set with OK Beauty Hair products in a spectacular box will be a great gift for any occasion.</p><p>In set:</p><p>VOLUMIZING SHAMPOO</p><p>Conditioner for hydration and volume</p><p>Intense nourishing and recovery hair mask</p>'
-pid_14_ingredient = ''
-pid_14_how_use = ''
//prod_15
-pid_15_prod_img = 'images/pr15.jpg'
-pid_15_prod_img_big = './images/pr15.jpg'
-pid_15_prod_id = '15'
-pid_15_prod_name = 'Big gift-set OK Beauty All-in-one'
-pid_15_prod_price = '1152'
//
-pid_15_description = '<p>Big gift-set OK Beauty All-in-one for daily body, face and hair care. An ideal gift for every woman!</p><p>In set:</p><p>Volumizing shampoo</p><ul><li>removes the remaining hair products, dust, and excessive sebum </li><li>make your hair nice, voluminous and naturally strong</li></ul><p>Conditioner for hydration and volume</p><ul><li>moisturizes and nourishes the damaged hair </li><li>strengthens hair structure</li></ul><p>Intense nourishing and recovery hair mask</p><ul><li>recovers hair thickness </li><li>makes hair more manageable and shiny</li></ul><p>Scalp peeling mask </p><ul><li>improves microcirculation preventing hair loss and boosting its growth</li><li>decreases the levels of fat secretion keeping your skin fresh significantly longer</li></ul><p>Serum for deep hair recovery</p><ul><li>moisturizes the fibers and thickens the hair shaft</li><li>provides long-lasting restoration of dry, brittle and dull hair</li></ul><p>Shimmer Body Lotion </p><ul><li>makes your skin look a bit tanned</li><li>creates disguising, light-reflecting effect, helping to conceal skin imperfections</li></ul><p>Body Scrub</p><ul><li>helps to fight stretch marks </li><li>eliminates swelling and blemishes</li></ul><p>Moisturizing Lip Plumping Balm</p><ul><li>moisturizes and nourishes, has a lifting effect</li><li>soothes lips, can be used as a make-up base</li></ul><p>Face Skin Care Oil Primer </p><ul><li>restores hydrophile-lipophile balance and skin barrier functions</li><li>can be used as a primer, soothes skin </li></ul><p>OK Beauty brand box</p>'
-pid_15_ingredient = ''
-pid_15_how_use = ''
//prod_16
-pid_16_prod_img = 'images/pr16.jpg'
-pid_16_prod_img_big = './images/pr16.jpg'
-pid_16_prod_id = '16'
-pid_16_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Flamingo'
-pid_16_prod_price = '88'
//
-pid_16_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_16_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_16_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_17
-pid_17_prod_img = 'images/pr17.jpg'
-pid_17_prod_img_big = './images/pr17.jpg'
-pid_17_prod_id = '17'
-pid_17_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Cocoa'
-pid_17_prod_price = '88'
//
-pid_17_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_17_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_17_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_18
-pid_18_prod_img = './images/pr18.jpg'
-pid_18_prod_img_big = './images/pr18.jpg'
-pid_18_prod_id  = '18'
-pid_18_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Hillier'
-pid_18_prod_price = '88'
//
-pid_18_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_18_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_18_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_19
-pid_19_prod_img = 'images/pr19.jpg'
-pid_19_prod_img_big = './images/pr19.jpg'
-pid_19_prod_id = '19'
-pid_19_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Tanami'
-pid_19_prod_price = '88'
//
-pid_19_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_19_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_19_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
//prod_20
-pid_20_prod_img = 'images/pr20.jpg'
-pid_20_prod_img_big = './images/pr20.jpg'
-pid_20_prod_id = '20'
-pid_20_prod_name = 'OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Safari'
-pid_20_prod_price = '88'
//
-pid_20_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_20_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_20_how_use = '<p>Apply small amount of product to lips and cheeks using finger tips or a brush. To achieve better result on lips, apply the tint with tapping motion.</p>'
// Product page
-annotation = 'bestseller'
//
-product__desc_title = 'Description'
-ingredient_title = 'Active ingredients and formula'
-how__use_title = 'Instructions'
-review_title = 'Reviews'
//
-recomend_title = 'buy with this product'
//Cart page
-cart_title = 'ORDERING'
-your_order = 'Your order'
-total_price = 'Total price'
-remove_all = 'clear all'
//
-user_name = 'Your name'
-user_phone = 'Your phone'
-user_country = 'Сhoose сountry'
-submit_title = 'Order'