
-site_name = 'okbeauty'
//Product navigation links
-link_name_1 = 'hit'
-link_name_2 = 'Hair'
-link_name_3 = 'Face'
-link_name_4 = 'Body'
-link_name_5 = 'Sets'
-link_name_6 = 'Tints'

-link_1 = '/hit.html'

//Hero slider item
-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'бесплатная доставка'
-hero_1_text2 = 'при заказе от'
-hero_1_text3 = '3500'

-hero_2_img = 'images/slide2.jpg'
-hero_2_text1 = 'бестселлер в подарок!'
-hero_2_text2 = 'TINT COLOR SALUTE SAFARI при покупке от 3500 р.'
-hero_2_text3 = 'предложение ограничено'

-hero_3_img = 'images/slide3.jpg'

-hero_4_img = 'images/slide4.jpg'
-hero_4_text1 = 'вы будете сиять этим летом!'

-hero_5_img = 'images/slide5.jpg'
-hero_5_text1 = 'красота не требует жертв!'
-hero_5_text2 = 'мы не тестируем наши продукты на животных'

-hero_6_img = 'images/slide6.jpg'
-hero_6_text1 = 'добавь красок своей естественной красоте!'

//
-button_text = 'перейти к покупкам'




//Press slider images
-press_title = 'Media about us'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'

//Products list page
-prod_order = "Buy in 1 click"
-product_list_title = 'Products'
-currency = ' $'
-add_cart = 'Add to cart'

//prod_1
-pid_1_prod_id = '1'
-pid_1_prod_img = 'images/pr1.jpg'
-pid_1_prod_img_big = './images/pr1.jpg'
-pid_1_prod_name = 'Интенсивная маска для питания и восстановления'
-pid_1_prod_price = '1600'
//
-pid_1_tipe = 'поврежденные, тусклые и непослушные волосы..'
-pid_1_effect = 'делает волосы послушными, прочными и эластичными.'
-pid_1_volume = '200 мл.'


//prod_2
-pid_2_prod_img = 'images/pr2.jpg'
-pid_2_prod_img_big = './images/tint_for_lips.jpg'
-pid_2_prod_id = '2'
-pid_2_prod_name = 'Тинт для губ и щек тон Marrakech'
-pid_2_prod_price = '770'                
//prod_3
-pid_3_prod_img = 'images/pr3.jpg'
-pid_3_prod_img_big = './images/pr3.jpg'
-pid_3_prod_id = '3'
-pid_3_prod_name = 'Бальзам для увеличения объема губ'
-pid_3_prod_price = '1090' 

//prod_4
-pid_4_prod_img = 'images/pr4.jpg'
-pid_4_prod_img_big = './images/pr4.jpg'
-pid_4_prod_id = '4'
-pid_4_prod_name = 'Лосьон-шиммер для тела'
-pid_4_prod_price = '1090' 

//prod_5
-pid_5_prod_img = 'images/pr5.jpg'
-pid_5_prod_img_big = './images/pr5.jpg'
-pid_5_prod_id = '5'
-pid_5_prod_name = 'Лосьон-шиммер для тела'
-pid_5_prod_price = '1090' 

//prod_6
-pid_6_prod_img = 'images/pr6.jpg'
-pid_6_prod_img_big = './images/pr6.jpg'
-pid_6_prod_id = '6'
-pid_6_prod_name = 'УВЛАЖНЯЮЩИЙ И РАЗГЛАЖИВАЮЩИЙ СКРАБ ДЛЯ ТЕЛА'
-pid_6_prod_price = '1170' 

//prod_7
-pid_7_prod_img = 'images/pr7.jpg'
-pid_7_prod_img_big = './images/pr7.jpg'
-pid_7_prod_id = '7'
-pid_7_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК OK BEAUTY СOLOR SALUTE LIP'
-pid_7_prod_price = '1170' 

//prod_8
-pid_8_prod_img = 'images/pr8.jpg'
-pid_8_prod_img_big = './images/pr8.jpg'
-pid_8_prod_id = '8'
-pid_8_prod_name = 'ПИЛИНГ-МАСКА ДЛЯ КОЖИ ГОЛОВЫ'
-pid_8_prod_price = '950' 

//prod_9
-pid_9_prod_img = 'images/pr9.jpg'
-pid_9_prod_img_big = './images/pr9.jpg'
-pid_9_prod_id = '9'
-pid_9_prod_name = 'КОНДИЦИОНЕР ДЛЯ УВЛАЖНЕНИЯ И ПРИДАНИЯ ОБЪЕМА'
-pid_9_prod_price = '1270' 

//prod_10
-pid_10_prod_img = 'images/pr10.jpg'
-pid_10_prod_img_big = './images/pr10.jpg'
-pid_10_prod_id = '10'
-pid_10_prod_name = 'ШАМПУНЬ ДЛЯ ПРИДАНИЯ ОБЪЕМА'
-pid_10_prod_price = '1190' 

//prod_11
-pid_11_prod_img = 'images/pr11.jpg'
-pid_11_prod_img_big = './images/pr11.jpg'
-pid_11_prod_id = '11'
-pid_11_prod_name = 'СЫВОРОТКА-КОНЦЕНТРАТ ДЛЯ ГЛУБОКОГО ВОССТАНОВЛЕНИЯ ВОЛОС'
-pid_11_prod_price = '890' 

//prod_12
-pid_12_prod_img = 'images/pr12.jpg'
-pid_12_prod_img_big = './images/pr12.jpg'
-pid_12_prod_id = '12'
-pid_12_prod_name = 'ФИРМЕННАЯ КОРОБКА OK BEAUTY'
-pid_12_prod_price = '400' 

//prod_13
-pid_13_prod_img = 'images/pr13.jpg'
-pid_13_prod_img_big = './images/pr13.jpg'
-pid_13_prod_id = '13'
-pid_13_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY'
-pid_13_prod_price = '6260' 

//prod_14
-pid_14_prod_img = 'images/pr14.jpg'
-pid_14_prod_img_big = './images/pr14.jpg'
-pid_14_prod_id = '14'
-pid_14_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY HAIR'
-pid_14_prod_price = '4440' 

//prod_15
-pid_15_prod_img = 'images/pr15.jpg'
-pid_15_prod_img_big = './images/pr15.jpg'
-pid_15_prod_id = '15'
-pid_15_prod_name = 'БОЛЬШОЙ ПОДАРОЧНЫЙ НАБОР ALL-IN-ONE'
-pid_15_prod_price = '9808' 

//prod_16
-pid_16_prod_img = 'images/pr16.jpg'
-pid_16_prod_img_big = './images/pr16.jpg'
-pid_16_prod_id = '16'
-pid_16_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН FLAMINGO'
-pid_16_prod_price = '770' 

//prod_17
-pid_17_prod_img = 'images/pr17.jpg'
-pid_17_prod_img_big = './images/pr17.jpg'
-pid_17_prod_id = '17'
-pid_17_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН COCOA'
-pid_17_prod_price = '770' 

//prod_18
-pid_18_prod_img = 'images/pr18.jpg'
-pid_18_prod_img_big = './images/pr18.jpg'
-pid_18_prod_id = '18'
-pid_18_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН HILLIER'
-pid_18_prod_price = '770' 

//prod_19
-pid_19_prod_img = 'images/pr19.jpg'
-pid_19_prod_img_big = './images/pr19.jpg'
-pid_19_prod_id = '19'
-pid_19_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН TANAMI'
-pid_19_prod_price = '770' 

//prod_20
-pid_20_prod_img = 'images/pr20.jpg'
-pid_20_prod_img_big = './images/pr20.jpg'
-pid_20_prod_id = '20'
-pid_20_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН SAFARI'
-pid_20_prod_price = '770' 

// Product page
-annotation = 'bestseller'

-tipe_title = 'Тип кожи'
-effect_title = 'Эффект'
-volume_title = 'Объем'
//
-product__desc_title = 'Description'
-ingredient_title = 'Active ingredients and formula'
-how__use_title = 'способ применения'
-review_title = 'Reviews'
//
-recomend_title = 'buy with this product'

//Cart page
-cart_title = 'ORDERING'
-your_order = 'Your order'
-remove_all = 'clear'
//
-user_name = 'Your name'
-user_phone = 'Your phone'
-user_country = 'Сhoose сountry'
-submit_title = 'Oreder'