
-site_name = 'okbeauty'
//Product navigation links
-link_name_1 = 'hit'
-link_name_2 = 'Hair'
-link_name_3 = 'Face'
-link_name_4 = 'Body'
-link_name_5 = 'Sets'
-link_name_6 = 'Tints'

-link_1 = '/hit.html'

//Hero slider item
-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'бесплатная доставка'
-hero_1_text2 = 'при заказе от'
-hero_1_text3 = '3500'

-hero_2_img = 'images/slide2.jpg'
-hero_2_text1 = 'бестселлер в подарок!'
-hero_2_text2 = 'TINT COLOR SALUTE SAFARI при покупке от 3500 р.'
-hero_2_text3 = 'предложение ограничено'

-hero_3_img = 'images/slide3.jpg'

-hero_4_img = 'images/slide4.jpg'
-hero_4_text1 = 'вы будете сиять этим летом!'

-hero_5_img = 'images/slide5.jpg'
-hero_5_text1 = 'красота не требует жертв!'
-hero_5_text2 = 'мы не тестируем наши продукты на животных'

-hero_6_img = 'images/slide6.jpg'
-hero_6_text1 = 'добавь красок своей естественной красоте!'

//
-button_text = 'перейти к покупкам'




//Press slider images
-press_title = 'Media about us'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'

//Products list page
-prod_order = "Buy in 1 click"
-product_list_title = 'Products'
-currency = ' $'
-add_cart = 'Add to cart'
-buy_for = 'buy for'

//prod_1
-pid_1_prod_id = '1'
-pid_1_prod_img = 'images/pr1.jpg'
-pid_1_prod_img_big = './images/pr1.jpg'
-pid_1_prod_name = 'Интенсивная маска для питания и восстановления'
-pid_1_prod_price = '1600'
//

-pid_1_description = '<p>Познакомьтесь заново со своими волосами и забудьте о сухости и ломкости волос с интенсивной маской для глубокого питания и восстановления OK BEAUTY REPAIR & RECOVERY.</p><p> Идеально подходит для поврежденных, тусклых и непослушных волос. Обогащенная кератином и растительными протеинами формула проникает в структуру волоса, интенсивно восстанавливая и уплотняя ее. Регулярное применение маски OK BEAUTY REPAIR & RECOVERY восстанавливает плотность и объем волос надолго.</p> <p> Оказывает глубокое защитное действие, придавая волосам исключительную гладкость, делая их прочным и эластичными, что позволяет защитить их от ломкости, вредного термического воздействия стайлинговых приборов и облегчить процесс укладки без дополнительных фиксирующих средств. Удерживает влагу и укрепляет волосы, придавая волосам блеск и мягкость, предотвращает эффект пушистости, делая волосы более послушными и блестящими. </p><p> Подходит для восстановления поврежденных волос и в качестве профилактики ломкости, сухости и истончения волос. </p><p> Объем: 200 мл. </p>'
-pid_1_ingredient = '<p><strong>Кератин:</strong> восстанавливает плотность и объем волос надолго.</p><p><strong>Протеины</strong> <strong>шелка:</strong> оказывают глубокое защитное действие, придавая волосам исключительную гладкость.</p><p><strong>Сок алоэ и гиалуроновая кислота:</strong> входящие в состав отлично увлажняют и питают волосы, делая их прочным и эластичными, что позволяет защитить их от ломкости, вредного термического воздействия стайлинговых приборов и облегчить процесс укладки без дополнительных фиксирующих средств.</p><p><strong>Экстракт Розмарина и протеины пшеницы:</strong> удерживают влагу и укрепляют волосы, придавая волосам блеск и мягкость, предотвращают эффект пушистости, делая волосы более послушными и блестящими.</p><p></p><p>Состав/Ingredients: Aqua, Cetearyl Alcohol, Cetrimonium Chloride, Ceteareth-20, Glycerin, Behentrimonium Methosulfate, Aloe Barbadensis Leaf Juice, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Butylene Glycol, Keratin, Hydrolyzed Keratin, Benzyl Alcohol, Cetyl Alcohol, Polyquaternium-37, Ethylhexylglycerin Hydrolyzed Wheat Protein, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hyaluronic Acid, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p><p>&nbsp;</p>'
-pid_1_how_use = '<p>Нанесите на влажные волосы, оставьте для воздействия на 5-10 минут смойте водой. Для более интенсивного воздействия нанесите маску на подсушенные полотенцем волосы оставьте на 30 мин и более в зависимости от степени поврежденности волос, промойте водой.</p>'


//prod_2
-pid_2_prod_img = 'images/pr2.jpg'
-pid_2_prod_img_big = './images/tint_for_lips.jpg'
-pid_2_prod_id = '2'
-pid_2_prod_name = 'Тинт для губ и щек тон Marrakech'
-pid_2_prod_price = '770'

//
-pid_2_description = '<p>  OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.  </p>'
-pid_2_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_2_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_3
-pid_3_prod_img = 'images/pr3.jpg'
-pid_3_prod_img_big = './images/pr3.jpg'
-pid_3_prod_id = '3'
-pid_3_prod_name = 'Бальзам для увеличения объема губ'
-pid_3_prod_price = '1090' 
//

-pid_3_description = '<p>Увлажняющий бальзам O.K. Beauty - это уникальный уход для губ с эффектом объема.</p><p>Цветовая формула  подстраивается под цвет ваших губ и придает им естественный объем надолго и помогает достичь желанного эффекта влажных пухлых губ без липкости и скатывания.</p><p>Подходит в качестве самостоятельного средства и служит отличной базой для нанесения макияжа.</p><p>Уникальный запатентованный комплекс Hyacolor  содержит микро молекулы гиалуроновой кислоты в форме микросфер, диспергированных в растительных маслах и обладает способностью увеличивать объем губ, а также увлажняющими и восстанавливающими свойствами.</p><p>Объем: 7 мл.</p>'
-pid_3_ingredient = '<p><strong>Запатентованный комплекс HYACOLOR</strong></p><p>На основе ультра-низкомолекулярной гиалуроновой кислоты способствует моментальному увеличению губ с длительным и накопительным эффектом.</p><p><strong>Масло Родиолы розовой</strong></p><p>Увлажняет, питает, разглаживает губы, обладает свойством лифтинга, усиливает синтез коллагена. Флавоноиды и дубильные вещества в ее составе обладают противовоспалительными и заживляющими действиями, что придает губам здоровый и ухоженный вид.</p><p>HYDROGENATED POLYISOBUTENE, POLYBUTENE, PENTAERYTHRITYL TETRAISOSTEARATE, ALUMINUM STARCH OCTENYLSUCCINATE, PARAFFINUM LIQUIDUM, HYDROGENATED STYRENE/ISOPRENE COPOLYMER, SILICA DIMETHYL SILYLATE, POLYETHYLENE, SODIUM HYALURONATE, RICINUS COMMUNIS SEED OIL, HYDROGENATED CASTOR OIL, RHODIOLA ROSEA ROOT EXTRACT, PEG-8, TOCOPHEROL, ASCORBYL PALMITATE, ASCORBIC ACID, CITRIC ACID, Parfum, MICA, CI 77891 (TITANIUM DIOXIDE), CI 15850</p>' 
-pid_3_how_use = ''

//prod_4
-pid_4_prod_img = 'images/pr4.jpg'
-pid_4_prod_img_big = './images/pr4.jpg'
-pid_4_prod_id = '4'
-pid_4_prod_name = 'УХАЖИВАЮЩЕЕ МАСЛО-ПРАЙМЕР ДЛЯ ЛИЦА'
-pid_4_prod_price = '1950' 
//

-pid_4_description = '<p>Сэкономьте время и место в косметичке для достижения максимального, моментального эффекта после первого применения! В условиях постоянной спешки и бешеного ритма жизни на смену многоступенчатому уходу приходит бьюти минимализм или skip-care - наша философия основанная на многолетнем опыте и потребностях современных женщин.</p><p>Универсальное, мультифункциональное средство для ежедневного ухода за кожей и создания идеального макияжа - OK BEAUTY PREP &amp; CARE позволит вам использовать всего одно средство для достижения быстрого, видимого эффекта и поддержания здоровья и красоты кожи.</p><p>• Быстро впитывается, обладает выраженным увлажняющим эффектом</p><p>• Борется с воспалениями, шелушениями, обезвоженностью</p><p>• Восстанавливает гидро-липидный баланс и барьерные функции кожи, делая ее гладкой и сияющей</p><p>• В качестве базы под макияж с эффектом фотошопа, идеально выравнивает рельеф кожи перед нанесением пудры или тонального средства, продлевает стойкость макияжа</p><p>Объем: 30 мл.</p>'
-pid_4_ingredient = '<p>Масло камелии Японской - является прекрасным многофункциональным средством для ухода не только за кожей лица, но и областью вокруг глаз, обогащено витаминами красоты А, В и Е, является источник олеиновой кислоты (омега-9), способствующей увлажнению за счёт глубокого проникновения в слои кожи, делает липидный барьер кожи более проницаемым для активных веществ и масел.</p><p>Масло Перуанской дикой розы - прекрасное питательное базовое масло выделяется сочетанием витаминов и аминокислот, в масле высок процент содержания витамина С, витамин А, а витамин Е представлен в масле уникальной формой токоферола, усиливающей антиоксидантные свойства. Линолевая кислота Омега 6 удерживают влагу в клетках дермы, восстанавливает кожный барьер, оказывая омолаживающий эффект.</p><p>Масло вишневой косточки - уникальным масло делает содержание достаточно редкой элеостеариновой кислоты, которая поглощает ультрафиолетовое излучение, а также стимулирует выработку простагландинов, улучшающих клеточной метаболизм.</p><p>Масло является одним из самых мягких, обладает эффектом невесомого увлажнения, способствует синтезу коллагена и поддержанию тонуса кожи.</p><p>Растительные экстракты - комплекс на основе экстрактов ромашки, мяты, шиповника и шалфея обладает бактерицидным и противовоспалительным действием.</p><p>Сквален - растительный сквален из оливкового масла обладает мощным антиоксидантным восстанавливающим и оздоравливающим действием, улучшает цвет лица и делает кожу менее чувствительной.</p><p>CAMELLIA OLEIFERA SEED OIL, ROSA CANINA FRUIT OIL, PRUNUS CERASUS SEED OIL, CHAMOMILLA RECUTITA EXTRACT, ROSA CANINA FRUIT EXTRACT, MENTHA PIPERITA EXTRACT, SALVIA OFFICINALIS EXTRACT, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p>'
-pid_4_how_use = ''

//prod_5
-pid_5_prod_img = 'images/pr5.jpg'
-pid_5_prod_img_big = './images/pr5.jpg'
-pid_5_prod_id = '5'
-pid_5_prod_name = 'Лосьон-шиммер для тела'
-pid_5_prod_price = '1090' 
//

-pid_5_description = '<p>Идеальная кожа за 5 минут - легко! Подарите себе ощущение отдыха на лазурном берегу с безупречной, слегка загорелой кожей от OK BEAUTY FLASH &amp; CARE Невесомая текстура и формула на основе комплекса легких и богатейших по свойствам масле глубоко увлажнит кожу и заставит её &quot;сиять изнутри&quot;, а сияющие микрочастицы моментально преобразят, создавая эффект мерцаия и гладкой идеальной кожи с обложки.</p><p>Быстро впитывается, не пачкая одежжу Придает легкий оттенок загара Создает камуфлирующий, светоотражающий эффект, помогая скрыть несовершенства кожи Объём: 150 мл.</p>'
-pid_5_ingredient = '<p>Масло калифорнийского жожоба - природный коллаген. Масло богато аминокислотами, антиоксидантами, отвечающими за упругость кожи, обеспечивающими ее увлажнение, питание, регенерацию. Единственное масло, в состав которого входит уникальная гадолеиновая кислота, позволяющая удерживать все полезные свойства масла.</p><p>Масло авокадо - мексиканское масло красоты содержит насыщенные жирные кислоты, богато омега 7 (пальмитиновая кислота), которая проникает в глубокие слои кожи, активирует регенерацию, восстанавливает кожный покров и его эластичность, наполняет кожу кислородом, стимулирует выработку коллагена.</p><p>Масло кокоса - за счёт высокого содержания лауриновой и пальмитиновой кислот, масло обладает природными солнцезащитными свойствами, образуя дышащую пленку, быстро впитываются делает кожу бархатной нежной и сияющей.</p><p>Масло Ши - африканское масло холодного отжима содержит мононенасыщенные и насыщенные жирные кислоты, активно восстанавливает гидро-липидный баланс кожи, защищая ее структуру, делает кожу гладкой и здоровой. Витамины А и Е оказывают интенсивные регенерирующие и заживляющие действия.</p><p>Масло Оливы - олеиновая кислота Омега-9 в составе проникает в глубокие слои кожи, увлажняет, питает, способствует проникновению в кожу активных компонентов, полезных веществ и витаминов, дарит ощущение мягкости.</p><p>AQUA, MICA, BUTYROSPERMUM PARKII BUTTER, SIMMONDSIA CHINENSIS SEED OIL, OLEA EUROPAEA FRUIT OIL, PERSEA GRATISSIMA OIL, COCOS NUCIFERA OIL, GLYCERIN, LECITHIN, PANTHENOL, PRUNUS CERASUS FLOWER EXTRACT, BENZOIC ACID, SORBIC ACID, DEHYDROACETIC ACID, BENZYL ALCOHOL, Parfume, BENZYL SALICYLATE</p>'
-pid_5_how_use = ''

//prod_6
-pid_6_prod_img = 'images/pr6.jpg'
-pid_6_prod_img_big = './images/pr6.jpg'
-pid_6_prod_id = '6'
-pid_6_prod_name = 'УВЛАЖНЯЮЩИЙ И РАЗГЛАЖИВАЮЩИЙ СКРАБ ДЛЯ ТЕЛА'
-pid_6_prod_price = '1170' 
//

-pid_6_description = 'Гладкая, сатиновая кожа тела после обычного принятия душа? Именно этот эффект подарит вам скраб с лепестками роз и ароматом спелой вишни O.K. Beauty - незаменимый помощник в борьбе за красивую и сияющую кожу вашего тела. Настоящий спа-салон в вашей ванной комнате. <ul><li>При регулярном применении способствует борьбе с растяжками</li><li>Устраняет отечность и несовершенства и делают кожу более подтянутой</li><li>Обладает выраженным увлажняющим и питательным эффектом</li><li>Помогает устранить покраснения, шелушения и неровности без использования дополнительных средств</li><p>Объем: 250 гр.</p>'
-pid_6_ingredient = '<p>Соль Адриатического моря</p><p>Обладает повышенным содержанием минералов и природных солей, обладает антисептическим эффектом и деликатно отшелушивает, устраняет несовершенства кожи, предотвращая их повторное появление.</p><p>Сквален и масло Ши</p><p>Сквален активно воздействуют на клетки кожи, восстанавливая их структуру. Масло Ши обладает выраженными заживляющими и восстанавливающими свойствами, при регулярном применении способствует борьбе с растяжками, делает кожу более упругой и подтянутой.</p><p>Масло сладкого миндаля</p><p>Природный коктейль мононенасыщенных, полиненасыщенных жиров и витаминов, представленных олеиновой, линолевой кислотами, витаминами E и К. Богатство состава масла способствует глубокому увлажнению кожу, обладает успокаивающим действием, снимает раздражения и покраснения, делая кожу ровной и гладкой.</p><p>SEA SALT, PRUNUS AMYGDALUS DULCIS OIL, BUTYROSPERMUM PARKII BUTTER, ROSA CENTIFOLIA FLOWER, MICA, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p>'
-pid_6_how_use = '<p>Для того, чтобы достичь максимального эффекта необходимо распарить кожу. Каждый участок тела требует особого ухода.</p><p>Бедра</p><p>Перед тем, как начать скрабировать, разотрите бедра махровым полотенцем - это улучшит кровообращение и поможет скрабу максимально воздействовать на кожу. Не перестарайтесь, если слишком сильно тереть кожу, это может ее травмировать.</p><p>Возьмите небольшое количество скраба и нанесите на влажную кожу. Круговыми движения сделайте массаж и смойте теплой водой, а после ополосните прохладной.</p><p>Зона декольте, живот, внутренняя поверхность рук</p><p>Только нежные и поглаживающие движения, не используйте агрессивных разминающих техник. Пройдитесь по внутренней поверхности рук.</p><p>Стопы</p><p>Активно разомните ступы и круговыми движениями помассируйте их.</p>'

//prod_7
-pid_7_prod_img = 'images/pr7.jpg'
-pid_7_prod_img_big = './images/pr7.jpg'
-pid_7_prod_id = '7'
-pid_7_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК OK BEAUTY ТОН SAFARI'
-pid_7_prod_price = '770' 
//

-pid_7_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_7_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_7_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_8
-pid_8_prod_img = 'images/pr8.jpg'
-pid_8_prod_img_big = './images/pr8.jpg'
-pid_8_prod_id = '8'
-pid_8_prod_name = 'ПИЛИНГ-МАСКА ДЛЯ КОЖИ ГОЛОВЫ'
-pid_8_prod_price = '950' 
//

-pid_8_description = '<p>Формула маски OK BEAUTY Wake Up &amp; Peel Scalp Activator на основе гликолевой кислоты, цинка, витамина В6 и растительных экстрактов предупреждает появление перхоти, снимает зуд, успокаивает раздражения, способствует активному очищению кожи, подготавливает кожу головы к нанесению дальнейшего ухода, увеличивая ее проникающую способность.</p><p>Отшелушивающая маска оказывает себорегулирующий эффект и снижает секрецию кожного сала, значительно продлевает свежесть, чистоту волос и кожи головы, способствует устранению гиперкератоза. Улучшает микроциркуляцию, что способствует снижению выпадения волос и активирует их рост.</p><p>Объём: 150 мл.</p>'
-pid_8_ingredient = '<p>Гликолевая кислота – фруктовая или альфа-гидроксильная кислота (AHA) обладает низкой молекулярной массой и кислотностью, что позволяет моментально проникать в кожу, запуская механизм клеточного дыхания, что способствует питанию волосяных луковиц, обеспечивая ускорение роста и обновление волос. Уменьшает секрецию кожного сала, устраняет бактерии, обеспечивает профилактику появления перхоти. </p><p>Цинк – мощный антиоксидант, обладающий антисептическими, противогрибковыми и восстанавливающими свойствами, способствует очищению пор и обеспечению синтеза коллагена. Оказывает себорегулирующий эффект, обеспечивает свежесть кожи головы на значительно длительный период.</p><p>Витамин В6 – стимулирует рост волос, пробуждая спящие волосяные фолликулы, увлажняет и регулирует водный баланс кожи, предотвращает ломкость волос по всей длине. </p><p>Сквален – удерживает оптимального количества воды в клетках кожи, избавляет от перхоти, обладает антибактериальным эффектом.</p><p>Экстракт корня Лакрицы – богат флавоноидами, витаминами и органическими кислотами. Способствует мягкому очищению кожи головы без пересушивания и раздражения. Обладает антибактериальным действием, снимает сухость, зуд и шелушение кожи головы, предотвращает выпадение волос.</p><p>Экстракт корня Дикого Ямса – защищает кожу головы от стресса и загрязнений окружающей среды, снижает выработку кожного сала, нормализует и оздоравливает состояние волосистой части кожи головы, улучшает циркуляцию крови, активируя рост волос.</p><p>Ниацинамид – способствует стимуляции синтеза коллагена и улучшает защитные функции кожи.</p><p>Церамиды – усиливают и восстанавливают естественный липидный барьер кожи головы, оказывают восстанавливающее действие кожного покрова, предотвращают  появление и способствуют устранению гиперкератоза.</p><p>Aqua, PPG-15 Stearyl Ether, Glycolic Acid, Steareth-2, Propanediol, Phytosterols, Caprylic/Capric Triglyceride, Lecithin, Squalane, Glycyrrhiza Glabra Root Extract, Soy Isoflavones, Butyrospermum Parkii Butter, Dioscorea Villosa Root Extract, Niacinamide, Pyridoxine HCL, Azelaic Acid, Ceramide 3, Zinc PCA, Steareth-21, Salicylic Acid, Dimethicone, Phenoxyethanol, Stearic Acid, Polyacrylate Crosspolymer-6, Benzyl Alcohol, Sodium Hydroxide, Ethylhexylglycerin, Cetyl Hydroxyethylcellulose, Rosmarinus Officinalis Leaf Extract, Disodium EDTA, Tocopherol</p>'
-pid_8_how_use = '<p>Нанесите небольшое количество маски на сухую или влажную кожу головы, распределить мягкими массажными движениями, оставьте на 10-15 минут, смойте водой и промойте голову шампунем. Применяйте маску не более 1-2 раз в неделю.</p>'

//prod_9
-pid_9_prod_img = 'images/pr9.jpg'
-pid_9_prod_img_big = './images/pr9.jpg'
-pid_9_prod_id = '9'
-pid_9_prod_name = 'КОНДИЦИОНЕР ДЛЯ УВЛАЖНЕНИЯ И ПРИДАНИЯ ОБЪЕМА'
-pid_9_prod_price = '1270' 
//

-pid_9_description = '<p>Обычные кондиционеры и бальзамы утяжеляют волосы лишая их объема, но только не легкий кондиционер OK BEAUTY MOISTURIZE &amp; VOLUMIZE, обеспечивающий необходимое увлажнение и питание поврежденных волос без утяжеления и потери объема!</p><p>Подходит для любого типа волос в качестве профилактики ломкости, повреждения и истончения волос.</p><p>Объем: 250 мл</p>'
-pid_9_ingredient = '<p>Уникальный актив TILICINE: на основе почек липы, способствующий глубокому увлажнению, приданию объема волосам, питает и восстанавливает волосы, делая их гладкими и блестящими.</p><p>Протеины пшеницы: укрепляют структуру волоса, заполняя собой пустоты.</p><p>Протеины шелка и экстракт розмарина: защищают волосы делая их более послушными и поддающимися укладке.</p><p>Aqua, Cetrimonium Chloride, Glycerin, Cetearyl Alcohol, Butyrospermum Parkii Butter, Ceteareth-20, Behentrimonium Methosulfate, Tilia Tomentosa Bud Extract, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Benzyl Alcohol, Hydroxyethylcellulose, Butylene Glycol, Cetyl Alcohol, Ethylhexylglycerin, Polyquaternium-37, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hydrolyzed Wheat Protein, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p>'
-pid_9_how_use = '<p>Нанесите на чистые влажные волосы, распределите и оставьте на 2-4 минуты, смойте водой. Подходит для ежедневного применения.</p>'

//prod_10
-pid_10_prod_img = 'images/pr10.jpg'
-pid_10_prod_img_big = './images/pr10.jpg'
-pid_10_prod_id = '10'
-pid_10_prod_name = 'ШАМПУНЬ ДЛЯ ПРИДАНИЯ ОБЪЕМА'
-pid_10_prod_price = '1190' 
//

-pid_10_description = '<p>Объем который продержится весь день и даже на следующий? Убедитесь в этом с новым шампунем для придания объема OK BEAUTY CLARIFYING &amp; VOLUMIZING HAIR SHAMPOO. Шампунь отлично удаляет остатки стайлинговых средств, пыли, излишки себума создавая прикорневой объем. Формула шампуня с активными компонентами и растительными экстрактами насыщена полисахаридами, флавоноидами и протеинами.</p><p>Регулярное применение шампуня придаст волосам красивый внешний вид, объем и жизненную силу.</p><p>Подходит для любого типа волос.</p><p>Объем: 250 мл.</p>'
-pid_10_ingredient = '<p>TILICINE: обеспечивает глубокое увлажнение и увеличение объема волос.</p><p>Протеины шелка: способствуют восстановлению поврежденных волос, придавая им натуральный и шелковистый блеск.</p><p>Aqua, Sodium Laureth Sulfate, Sodium Cocoamphoacetate, Coco-Glucoside, Cocamide Dea, Cocamidopropyl Betaine, Glycerin, Vp/Dmapa Acrylates Copolymer, Sodium Lauroyl Sarcosinate, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Cetrimonium Chloride, Phenoxyethanol, Sodium Chloride, Benzyl Alcohol, Citric Acid, Ethylhexylglycerin, Guar Hydroxypropyltrimonium Chloride, Disodium Edta, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Parfum, Tocopherol.</p>'
-pid_10_how_use = '<p>Нанесите шампунь мягкими массажными движениями на кожу головы и по длине волос до образования пены, смойте теплой водой. После применения шампуня рекомендуется использовать бальзам/ кондиционер/ маску. Подходит для ежедневного применения.</p>'

//prod_11
-pid_11_prod_img = 'images/pr11.jpg'
-pid_11_prod_img_big = './images/pr11.jpg'
-pid_11_prod_id = '11'
-pid_11_prod_name = 'СЫВОРОТКА-КОНЦЕНТРАТ ДЛЯ ГЛУБОКОГО ВОССТАНОВЛЕНИЯ ВОЛОС'
-pid_11_prod_price = '890' 
//

-pid_11_description = '<p>Сыворотка-концентрат для глубокого восстановления волос OK BEAUTY FILL &amp; HANDLE- это незаменимый этап для восстановления структуры волос и подготовки к укладке, делает волосы послушными, убирает излишнюю пушистость и облегчает процесс укладки без применения стайлинговых средств.</p><p>Сыворотка увлажняет волокна и утолщает стержень волоса, нейтрализует статическое электричество без утяжеления и жирного блеска. Обеспечивает стойкое и продолжительное восстановление сухих, ломких и тусклых волос. В результате применения сыворотки-концентрата OK BEAUTY Fill &amp; Handle волосы становятся гладкими, менее ломкими, устойчивыми к повреждениям и термическому воздействию.</p>'
-pid_11_ingredient = '<p>Гидролизированные протеины пшеницы: защищают волосы при укладке и снижают статическое электричество</p><p>Экстракт почек липы: обеспечивает упругость , шелковистость и густоту, глубоко питает, укрепляет и восстанавливает волосы, предупреждает сухость и сечение волос, облегчает расчесывание и укладку</p><p>Масло Бабассу: богато жирными кислотами и витаминами, прекрасно впитывается, увлажняет и питает волосы, восстанавливает их структуру и предотвращает влагопотерю, что обеспечивает их послушность и более легкую укладку</p><p>Протеины шелка: восстанавливают поврежденные волосы, делая их более упругими и эластичными, защищают от негативных воздействий окружающей среды, придают волосам шелковистый блеск и здоровый ухоженный вид</p><p>Aqua, Coceth-7, Cocamidopropyl Betaine, Phenyl Trimethicone, Glycerin, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Phenoxyethanol, Cetrimonium Chloride, Isohexadecane, Parfum, Benzyl Alcohol, Dimethiconol, Hydrolyzed Wheat Proteinpolyglyceryl-3 Caprate, Dimethicone, Ethylhexylglycerin, Trimethylsiloxysilicate, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Acrylamidopropyltrimonium Chloride/Acrylates Copolymer, Disodium Edta, Silicone Quaternium-22, Dipropylene Glycol, Benzyl Salicylate, Tocopherol</p>'
-pid_11_how_use = '<p>Нанесите небольшое количество на чистые влажные волосы, распределите по всей длине, высушите и уложите привычным для вас способом. В качестве несмываемого ухода используйте на сухие волосы. Может использоваться вместо кондиционера для волос.</p>'

//prod_12
-pid_12_prod_img = 'images/pr12.jpg'
-pid_12_prod_img_big = './images/pr12.jpg'
-pid_12_prod_id = '12'
-pid_12_prod_name = 'ФИРМЕННАЯ КОРОБКА OK BEAUTY'
-pid_12_prod_price = '400' 
//

-pid_12_description = '<p>Стильная коробка из дизайнерской бумаги в фирменном цвете станет отличным оформлением для подарков.Упакуйте в нее продукты из нашей линейки или создайте новогодние композиции и сюрпризы вместе с ОК Beauty.</p>'
-pid_12_ingredient = ''
-pid_12_how_use = ''

//prod_13
-pid_13_prod_img = 'images/pr13.jpg'
-pid_13_prod_img_big = './images/pr13.jpg'
-pid_13_prod_id = '13'
-pid_13_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY'
-pid_13_prod_price = '6260' 
//

-pid_13_description = '<p>Набор со всей продукцией O.K. Beauty в эффектной коробке станет отличным подарком на любой праздник.</p><p>В набор входят:</p><p>Лосьон для тела с мерцающим эффектом</p><p>Скраб для тела увлажнение &amp; уход</p><p>Увлажняющий бальзам для увеличения объёма губ</p><p>Ухаживающее масло-праймер для лица</p><p>Фирменная коробка O.K. Beauty</p>'
-pid_13_ingredient = ''
-pid_13_how_use = ''

//prod_14
-pid_14_prod_img = 'images/pr14.jpg'
-pid_14_prod_img_big = './images/pr14.jpg'
-pid_14_prod_id = '14'
-pid_14_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY HAIR'
-pid_14_prod_price = '4440' 
//

-pid_14_description = '<p>Набор со всей продукцией OK Beauty Hair в эффектной коробке станет отличным подарком на любой праздник.</p><p>В набор входят:</p><p>Шампунь для придания объёма</p><p>Кондиционер для увлажнения и придания объёма</p><p>Интенсивная маска для глубокого питания и увлажнения</p>'
-pid_14_ingredient = ''
-pid_14_how_use = ''

//prod_15
-pid_15_prod_img = 'images/pr15.jpg'
-pid_15_prod_img_big = './images/pr15.jpg'
-pid_15_prod_id = '15'
-pid_15_prod_name = 'БОЛЬШОЙ ПОДАРОЧНЫЙ НАБОР ALL-IN-ONE'
-pid_15_prod_price = '9808' 
//

-pid_15_description = '<p>Большой подарочный набор OK Beauty All-in-one для ежедневного ухода за телом, лицом и волосами.</p><p>Идеальный подарок для каждой девушки!</p><p>В набор входят:</p><p>Шампунь для придания объема</p><p>Удаляет остатки стайлинговых средств, пыли, излишки себума Придает волосам красивый внешний вид, объем, жизненную силу Кондиционер для увлажнения и придания объема</p><p>Увлажняет и питает волосы Укрепляет структуру волоса Интенсивная маска для глубокого питания и увлажнения</p><p>Восстанавливает и уплотняет структуру волос Делает волосы более послушными и блестящими Пилинг маска для кожи головы</p><p>Улучшает микроциркуляцию, что способствует снижению выпадения волос и активирует их рост Снижает секрецию кожного сала, значительно продлевает свежесть, чистоту волос и кожи головы Сыворотка-концентрат для глубокого восстановления волос</p><p>Увлажняет волокна и утолщает стержень волоса Обеспечивает стойкое и продолжительное восстановление сухих, ломких и тусклых волос. Шиммер-перфектор для тела с мерцающим эффектом</p><p>Придает легкий оттенок загара Создает камуфлирующий, светоотражающий эффект, помогая скрыть несовершенства кожи Скраб для тела</p><p>Способствует борьбе с растяжками Устраняет отечность и несовершенства, делая кожу более подтянутой Увлажняющий бальзам для увеличения объема губ</p><p>Увлажняет и питает губы, придает естественный эффект объема Выравнивает рельеф губ и подготавливает их к дальнейшему нанесению макияжа Ухаживающий масло-праймер для лица</p><p>Восстанавливает гидролипидный баланс и барьерные функции кожи Используется в качестве базы под макияж, выравнивает рельеф кожи Фирменная коробка OK Beauty</p>'
-pid_15_ingredient = ''
-pid_15_how_use = ''

//prod_16
-pid_16_prod_img = 'images/pr16.jpg'
-pid_16_prod_img_big = './images/pr16.jpg'
-pid_16_prod_id = '16'
-pid_16_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН FLAMINGO'
-pid_16_prod_price = '770' 
//

-pid_16_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_16_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_16_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_17
-pid_17_prod_img = 'images/pr17.jpg'
-pid_17_prod_img_big = './images/pr17.jpg'
-pid_17_prod_id = '17'
-pid_17_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН COCOA'
-pid_17_prod_price = '770' 

//
-pid_17_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_17_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_17_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_18
-pid_18_prod_img = 'images/pr18.jpg'
-pid_18_prod_img_big = './images/pr18.jpg'
-pid_18_prod_id = '18'
-pid_18_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН HILLIER'
-pid_18_prod_price = '770' 

//
-pid_18_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_18_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_18_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_19
-pid_19_prod_img = 'images/pr19.jpg'
-pid_19_prod_img_big = './images/pr19.jpg'
-pid_19_prod_id = '19'
-pid_19_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН TANAMI'
-pid_19_prod_price = '770' 

//
-pid_19_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_19_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_19_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

//prod_20
-pid_20_prod_img = 'images/pr20.jpg'
-pid_20_prod_img_big = './images/pr20.jpg'
-pid_20_prod_id = '20'
-pid_20_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК ТОН SAFARI'
-pid_20_prod_price = '770' 
//
-pid_20_description = '<p>OK BEAUTY СOLOUR SALUTE- уникальный продукт, подчеркивающий вашу естественную красоту. Выберите свой оттенок и притягивайте взгляды,</p><p>Мультифункциональный стойкий тинт для губ и лица - это несколько средств для макияжа в одном флаконе, палитра представлена в шести трендовых цветах с помощью которых можно создать как повседневный, так и вечерний образ.</p><p>Объём: 7 мл.</p>'
-pid_20_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_20_how_use = '<p>Кончиками пальцев или кистью нанесите небольшое количество средства на губы и щеки. Для лучшего результата на губах, наносите тинт похлопывающими движениями.</p>'

// Product page
-annotation = 'bestseller'

//
-product__desc_title = 'Description'
-ingredient_title = 'Active ingredients and formula'
-how__use_title = 'how to use'
-review_title = 'Reviews'
//
-recomend_title = 'buy with this product'

//Cart page
-cart_title = 'ORDERING'
-your_order = 'Your order'
-total_price = 'Total price'
-remove_all = 'this button clear all'
//
-user_name = 'Your name'
-user_phone = 'Your phone'
-user_country = 'Сhoose сountry'
-submit_title = 'Oreder'