
-site_name = 'okbeauty'
//Product navigation links
-link_name_1 = 'hit'
-link_name_2 = 'Hair'
-link_name_3 = 'Face'
-link_name_4 = 'Body'
-link_name_5 = 'Sets'
-link_name_6 = 'Tints'

-link_1 = '/hit.html'

//Hero slider item
-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'бесплатная доставка'
-hero_1_text2 = 'при заказе от'
-hero_1_text3 = '3500'
-button_text = 'перейти к покупкам'

//Press slider images
-press_title = 'Media about us'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'

//Products list page
-prod_order = "Buy in 1 click"
-product_list_title = 'Products'
-currency = ' р.'
-add_cart = 'Add to cart'

//prod_1 ИНТЕНСИВНАЯ МАСКА ДЛЯ ГЛУБОКОГО ПИТАНИЯ И ВОССТАНОВЛЕНИЯ OK BEAUTY REPAIR & RECOVERY
-pid_1_prod_id = '1'
-pid_1_prod_img = 'images/pr1.jpg'
-pid_1_prod_img_big = './images/tint_for_lips.jpg'
-pid_1_prod_name = 'ИНТЕНСИВНАЯ МАСКА ДЛЯ ГЛУБОКОГО ПИТАНИЯ И ВОССТАНОВЛЕНИЯ OK BEAUTY REPAIR & RECOVERY'
-pid_1_prod_price = '1600'
//
-pid_1_tipe = 'поврежденные, тусклые и непослушные волосы..'
-pid_1_effect = 'делает волосы послушными, прочными и эластичными.'
-pid_1_volume = '200 мл.'


//prod_2
-pid_2_prod_img = 'images/pr2.jpg'
-pid_2_prod_img_big = './images/tint_for_lips.jpg'
-pid_2_prod_id = '2'
-pid_2_prod_name = 'ТИНТ ДЛЯ ГУБ И ЩЕК OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT ТОН SAFARI'
-pid_2_prod_price = '770'                
//prod_3
-pid_3_prod_img = 'images/pr3.jpg'
-pid_3_prod_img_big = './images/tint_for_lips.jpg'
-pid_3_prod_id = '3'
-pid_3_prod_name = 'Крем'
-pid_3_prod_price = '1400' 

// Product page
-annotation = 'bestseller'

-tipe_title = 'Тип кожи'
-effect_title = 'Эффект'
-volume_title = 'Объем'
//
-product__desc_title = 'Description'
-ingredient_title = 'Active ingredients and formula'
-how__use_title = 'способ применения'
-review_title = 'Reviews'
//
-recomend_title = 'buy with this product'

//Cart page
-cart_title = 'ORDERING'
-your_order = 'Your order'
-remove_all = 'clear'
//
-user_name = 'Your name'
-user_phone = 'Your phone'
-user_country = 'Сhoose сountry'
-submit_title = 'Oreder'