//Product navigation links
-link_name_1  = 'hit'
-link_name_2 = 'الشعر'
-link_name_3 = 'الوجه'
-link_name_4 = 'الجسم'
-link_name_5 = 'المجموعات'
-link_name_6 = 'الصبغات'
-link_1 = '#'

//Hero slider

-hero_1_img = 'images/slide1.jpg'
-hero_1_text1 = 'املئي شنطة جمالك بمنتجات OK Beauty'
-hero_1_text2 = 'when ordering from'
-hero_1_text3 = '55'
-hero_2_img = 'images/slide2.jpg'
-hero_2_text1 = 'OK Beauty – caring for your natural beauty'
-hero_2_text2 = 'TINT COLOR SALUTE SAFARI when buying from 55$'
-hero_2_text3 = 'limited offer'
-hero_3_img = 'images/slide3.jpg'
-hero_3_text1 = ' احصلي على شعر جديد مع كبسولة منتج الشعر الجديد'
-hero_3_text2 = ''
-hero_4_img = 'images/slide4.jpg'
-hero_4_text1 = 'OK Beauty - رعاية طبيعية لجمالك'
-hero_5_img = 'images/slide5.jpg'
-hero_5_text1 = 'الجمال لم يعد يتطلب التضحية'
-hero_5_text2 = 'لا يتم اختبار منتجاتنا على الحيوانات'
-hero_6_img = 'images/slide6.jpg'
-hero_6_text1 = 'اظهري جمالك الطبيعي'
//
-button_text = 'go to shopping'
-press_title = 'وسائل الإعلام عنا'
-img_1 = 'images/press_logo_1.png'
-img_2 = 'images/press_logo_2.png'
-img_3 = 'images/press_logo_3.png'
//Products list page
-prod_order = 'اشتري بنقرة واحدة'
-product_list_title = 'المنتجات'
-currency = ' AED'
-add_cart = 'أضف إلى السلة'
-buy_for = 'buy for'
-to_cart_message = 'item added to cart'
//prod_1
-pid_1_prod_id = '1'
-pid_1_prod_img = 'images/pr1.jpg'
-pid_1_prod_img_big = './images/pr1.jpg'
-pid_1_prod_name = 'قناع شعر مغذي ومنعش OK BEAUTY REPAIR & RECOVERY'
-pid_1_prod_price = '110'
//
-pid_1_description = '<p>&nbsp;</p><p>اجعلي شعرك رائعاً وانسي جفافه وهشاشته مع قناع الشعر المغذي المكثف OK BEAUTY REPAIR &amp; RECOVERY  مثالي للشعر التالف،   والفوضوي. غني بالكرياتين والبروتينات النباتية، تركيبة تخترق بنية الشعر، وتعافيه بشكل مكثف وسريع. الاستخدام المنتظم لقناع OK BEAUTY REPAIR &amp; RECOVERY لاستعادة سماكة الشعر وحجمه، تأثير طويل الأمد.  له تأثير وقائي كبير، يجعل الشعر ناعمًا ومرنًا، ويمنعه من أن يصبح هشًا، ويحميه كذلك من التأثير الحراري الضار لمكوى الشعر. لن تحتاج إلى أي منتجات تثبيت إضافية لأن القناع يسهل عملية تصفيف الشعر. ويحفظ رطوبته ويجعل الشعر أقوى ولامع وناعم، ويمنع تجعيده، ويجعله أكثر قابلية للتمشيط.  مناسب لاستعادة الشعر التالف والوقاية من الانقسام والجفاف والتساقط.  الحجم: 200 مل</p><p>&nbsp;</p>'
-pid_1_ingredient = '<p>&nbsp;</p><p>الكيراتين: يعيد سمك الشعر وحجمه بشكل دائم. حرير</p><p>البروتينات: لها تأثير وقائي عميق، يجعل الشعر سلس وناعم جدا.الصبار وحمض الهيالورونيك: يرطب ويغذي الشعر جيدًا ؛ يجعله قوي ومرن، مما يسمح بحمايتها من الانقسام والتأثير الحراري الضار لأجهزة تصفيف الشعر وتسهيل عملية التصفيف دون الحاجة إلى منتجات تصفيف إضافية. مستخلص الروزماري وبروتينات القمح:تحتفظ بالرطوبة وتجعل الشعر قويًا ولينًا ولامعًا، وتمنع تجعيده، مما يجعل الشعر أكثر قابلية للتصفيف.</p><p>Ingredients: Aqua, Cetearyl Alcohol, Cetrimonium Chloride, Ceteareth-20, Glycerin, Behentrimonium Methosulfate, Aloe Barbadensis Leaf Juice, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Butylene Glycol, Keratin, Hydrolyzed Keratin, Benzyl Alcohol, Cetyl Alcohol, Polyquaternium-37, Ethylhexylglycerin Hydrolyzed Wheat Protein, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hyaluronic Acid, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p><p>&nbsp;</p>'
-pid_1_how_use = '<p>ضعي القناع على الشعر</p><p>المبلل، واتركيه لمدة 5 - 10 دقائق</p><p>وأغسليه بالماء. لتكثيف</p><p>التأثير، ضع قناع للشعر على شعر جاف قليلاً</p><p>واتركيه لمدة 30 دقيقة</p><p>حسب مدى تلف الشعر، ثم أغسليه بالماء.</p><p>&nbsp;</p>'
-pid_2_prod_img = 'images/pr2.jpg'
-pid_2_prod_img_big = './images/tint_for_lips.jpg'
-pid_2_prod_id = '2'
-pid_2_prod_name = 'احمر شفاه OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT Marrakech'
-pid_2_prod_price = '55'
//
-pid_2_description = '<p>OK BEAUTY СOLOUR SALUTE is a unique product which highlights your natural beauty. Choose your tone and draw the eye.</p><p>Multifunctional long lasting cheek and lip tint is several makeup products rolled into one. The palette includes 6 trendy colors using which you can do both daytime and nighttime makeup.</p><p>Volume: 7 ml</p>'
-pid_2_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_2_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_3
-pid_3_prod_img = 'images/pr3.jpg'
-pid_3_prod_img_big = './images/pr3.jpg'
-pid_3_prod_id = '3'
-pid_3_prod_name = 'Moisturizing lip balm O.K. Beauty منتج فريد للعناية بحجم الشفاة'
-pid_3_prod_price = '92'
//
-pid_3_description = '<p>تركيبة فريدة للعناية بلون وظل شفتيك، تجعلها تبدو أكبر حجما تأثير يمنح الشفاه الرطوبة اللازمة والحجم الكامل بدون أي مشاكل. يمكنك استخدامه كأساس للماكياج أيضا .يحتوي Hyacolor المركب الفريد على جزيئات كبيرة من حمض الهيالورونيك ذي الشكل المجهري المنتشر في الزيوت النباتية. يجعل الشفاه أكبر، يرطب وينشط البشرة. الحجم: 7 مل.</p>'
-pid_3_ingredient = '<p>براءة اختراع HYACOLOR بناء على حمض الهيالورونيك منخفض الجزيئ جدا، يمنح تأثير ممتلئ للشفتين فورا بطريقة مستمرة وتراكمية.زيت جذور الرهوديولا يرطب ويغذي وينعم الشفاه، له تأثير رفع، ويكثف تخليق الكولاجين. مركبات الفلافونويد الموجوده داخله لها تأثيرات مضادة للالتهابات مما يجعل الشفاه تبدو صحية وجميلة. HYDROGENATED POLYISOBUTENE, POLYBUTENE, PENTAERYTHRITYL TETRAISOSTEARATE, ALUMINUM STARCH OCTENYLSUCCINATE, PARAFFINUM LIQUIDUM, HYDROGENATED STYRENE/ISOPRENE COPOLYMER, SILICA DIMETHYL SILYLATE, POLYETHYLENE, SODIUM HYALURONATE, RICINUS COMMUNIS SEED OIL, HYDROGENATED CASTOR OIL, RHODIOLA ROSEA ROOT EXTRACT, PEG-8, TOCOPHEROL, ASCORBYL PALMITATE, ASCORBIC ACID, CITRIC ACID, Parfum, MICA, CI 77891 (TITANIUM DIOXIDE), CI 15850</p>'
-pid_3_how_use = ''
//prod_4
-pid_4_prod_img = 'images/pr4.jpg'
-pid_4_prod_img_big = './images/pr4.jpg'
-pid_4_prod_id = '4'
-pid_4_prod_name = 'زيت برايمر للعناية بالوجه OK BEAUTY REPAIR & RECOVERY'
-pid_4_prod_price = '128'
//
-pid_4_description = '<p>وفري وقتك والمزيد من المساحة في حقيبة مستحضرات التجميل للوصول إلى أقصى تأثير فوري بعد الاستخدام الأول! تملي هذه الحياة الحديثة السريعة التي نعيشها قواعد جديدة: حيث تصبح الرعاية متعددة المراحل بمثابة شيء من الماضي. يعد الجمال البسيط غير المتكلف أو مجرد الرعاية بجمالك الطبيعي فلسفة جديدة تستند إلى خبرة سنوات عديدة واحتياجات المرأة العصرية. منتج متعدد الأغراض ومتعدد الوظائف للعناية بالبشرة اليومية والماكياج المثالي - OK BEAUTY PREP &amp; CARE - سيتيح لك استخدام منتج واحد فقط الحصول </p><p>على تأثير سريع وواضح والحفاظ على صحة وجمال بشرتك. • يمتص بسرعة، وله تأثير الترطيب • مضاد لاحمرار، تقشير، جفاف البشرة • يستعيد وظائف توازن الماء والشفاه وحاجز البشرة، مما يجعلها ناعمة ولامعة • يمكن استخدامه كبرايمر مع تأثير الفوتوشوب. يلطف البشرة قبل وضع البودرة أو الأساس، ويجعل المكياج يدوم لوقت أطول</p><p>الحجم: 30 مل</p>'
-pid_4_ingredient = '<p>زيت كاميليا الياباني منتج ممتاز للعناية بالأغراض المتعددة، ليس فقط لبشرة الوجه ولكن أيضا لمنطقة العين، مليء بفيتامينات الجمال А و В و Е. مصدر لحمض الأوليك (Omega-9) الذي يكثف الترطيب بسبب اختراقه العميق لطبقات الجلد، كما يجعل حاجز الدهون في الجلد أكثر قابلية للاختراق للمكونات النشطة والزيوت. زيت بيرو روزا كانينا</p><ul><li>п زيت مغذي أساسي رائع، ميزته تكمن في احتوائه على مجموعة من الفيتامينات والأحماض الأمينية، كما أنه يحتوي على نسبة عالية من فيتامين С وفيتامين А. يحتوي الزيت على فيتامين Е في شكل توكوفيرول فريد من نوعه يقوي خصائصه المضادة للأكسدة. حمض اللينوليك أوميغا 6 يحتفظ بخلايا الرطوبة. يعيد حاجز الجلد، له تأثير التجديد. زيت الكر - فريد من نوعه بسبب حمض الإيوستريك النادر الذي يمتص الأشعة فوق البنفسجية، كما يحفز إنتاج البروستاجلاندين الذي يحسن عملية التمثيل الغذائي للخلايا. هذا هو واحد من أنعم الزيوت، له تأثير مرطب ويسهل تخليق الكولاجين، ويحافظ على لون البشرة. المستخلصات النباتية</li><li>к هي عبارة عن تركيبة تعتمد على مستخلصات البابونج والنعناع والورد والليف، ولها تأثيرات مضادة للميكروبات ومضادة للالتهابات. السكوالي - يحتوي السكوالين المشتق من النباتات (مصنوع من زيت الزيتون) على مضادات الأكسدة القوية، وله تأثير منعش ومجدد ويعتني بالبشرة ويجعلها أقل حساسية.</li></ul><p>CAMELLIA OLEIFERA SEED OIL, ROSA CANINA FRUIT OIL, PRUNUS CERASUS SEED OIL, CHAMOMILLA RECUTITA EXTRACT, ROSA CANINA FRUIT EXTRACT, MENTHA PIPERITA EXTRACT, SALVIA OFFICINALIS EXTRACT, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p><p>&nbsp;</p>'
-pid_4_how_use
//prod_5
-pid_5_prod_img = 'images/pr5.jpg'
-pid_5_prod_img_big = './images/pr5.jpg'
-pid_5_prod_id = '5'
-pid_5_prod_name = 'لوشن لجسم لامع OK BEAUTY FLASH & CARE'
-pid_5_prod_price = '128'
//
-pid_5_description = '<p>جلد مثالي في 5 دقائق؟ أصبح سهلا! استمتعي بتجربة قضاء إجازتك في المصيف ببشرة رائعة ملونة قليلاً بفضل OK BEAUTY FLASH &amp; CARE لوشن خفيف القوام غني بالزيوت الخفيفة والغنية يرطب بشرتك بعمق ويجعلها تلمع &quot;من الداخل&quot;، في حين أن لمعان الجزيئات الصغيرة الخارجية سيمنحك فوراً مظهرًا جديدًا، مما ينتج عنه تأثير ساطع وبشرة مثالية لفتاة جذابة. يمتص بسرعة، لا يجعل الملابس متسخة يجعل بشرتك تبدو ملونة بعض الشيء يخلق تأثير تمويه عاكس للضوء، ويساعد على إخفاء عيوب البشرةالحجم: 150 مل</p>'
-pid_5_ingredient = '<p>زيت الجوجوبا كاليفورنيا كولاجين طبيعي، غني بالأحماض الأمينية ومضادات الأكسدة المسؤولة عن مرونة الجلد وترطيبه وتغذيته وتنشيطه. هذا هو الزيت الوحيد الذي يحتوي على تركيبة حمض الجادوليك الفريد الذي يحتفظ بجميع الخصائص المفيدة لهذا الزيت.</p><p>زيت الأفوكادو - يحتوي زيت الجمال المكسيكي على أحماض دهنية مشبعة غنية بأحماض أوميغا 7 الدهنية (حمض النخلة) التي تخترق طبقات الجلد العميقة، وتمكن من الانتعاش، وتستعيد صحة الجلد ومرونته، وتزود الجلد بالأكسجين، وتحفز إنتاج الكولاجين.</p><p>زيت جوز الهند له خصائص واقية من الشمس بسبب ارتفاع مستوى الأحماض اللورية والنخيلية؛ يخلق غطاء قابل للتنفس. سريع الامتصاص. يمنح الجلد لون مخملي جذاب، ويجعله لينا ومتوهجا.</p><p>زيت الشيا زيت أفريقي بارد، يحتوي على أحماض دهنية أحادية غير مشبعة، يستعيد توازن الجلد المحبب في البشرة، ويحمي تركيبها مما يجعلها صحية وناعمة. يحتوي كل من الفيتامينات التي تحتوي على آثار حيوية وتنشيطية.</p><p>زيت الزيتون - حمض الأوليك أوميغا-9 يخترق الطبقات العميقة من الجلد، ويرطبها ويغذيها، ويساعد المكونات النشطة والمواد المفيدة والفيتامينات لاختراق البشرة بشكل أعمق وجعلها ناعمة.</p><p>AQUA, MICA, BUTYROSPERMUM PARKII BUTTER, SIMMONDSIA CHINENSIS SEED OIL, OLEA EUROPAEA FRUIT OIL, PERSEA GRATISSIMA OIL, COCOS NUCIFERA OIL, GLYCERIN, LECITHIN, PANTHENOL, PRUNUS CERASUS FLOWER EXTRACT, BENZOIC ACID, SORBIC ACID, DEHYDROACETIC ACID, BENZYL ALCOHOL, Parfume, BENZYL SALICYLATE</p><p>&nbsp;</p></p>'
-pid_5_how_use
//prod_6
-pid_6_prod_img = 'images/pr6.jpg'
-pid_6_prod_img_big = './images/pr6.jpg'
-pid_6_prod_id = '6'
-pid_6_prod_name = 'Moisturizing and tightening body scrub OK BEAUTY SMOOTH & CARE'
-pid_6_prod_price = '92'
//
-pid_6_description = 'Smooth, satin-like skin just after taking a shower! Youll feel this effect with a luxurious body scrub O.K. Beauty with rose petals and ripen cherry aroma. A genuine spa salon in your bathroom.<ul><li>Helps to fight stretch marks If applied regularly;</li><li>Eliminates swelling and blemishes; Makes the skin more toned;</li><li>Helps to get rid of redness, flakiness and skin irregularity without applying additional products;</li><li>The skin becomes soft and resilient;</li><li>Covers the skin with shimmering micro-particles, makes it gleam.</li><p>Weight: 250 g.</p>'
-pid_6_ingredient = '<p>Adriatic Sea salt</p><p>Has a high concentration of minerals and natural salts, antiseptic effect, gently exfoliates the skin and improves its irregularities preventing a recurrence.</p><p>Squalene and Shea oil</p><p>Squalene influences the skin cells actively, restoring their structure. Shea oil has pronounced cicatrizing and revitalizing effects. Helps to fight stretch marks, makes the skin more resilient and toned if applied regularly.</p><p>Sweet almond oil</p><p>A natural cocktail consisting of monounsaturated fats, polyunsaturated fats and vitamins, namely oleic acid, linoleic acid and vitamins E and K. Rich formula of the oil helps to moisturize the skin deeply, has a soothing effect, reduces inflammation and redness, makes the skin smooth.</p><p>SEA SALT, PRUNUS AMYGDALUS DULCIS OIL, BUTYROSPERMUM PARKII BUTTER, ROSA CENTIFOLIA FLOWER, MICA, TOCOPHEROL, GLYCERYL LINOLEATE, BETA-SITOSTEROL, SQUALENE, Parfume, BENZYL SALICYLATE</p>'
-pid_6_how_use = '<p>Steam the skin first to maximum effect. Each part of your body requires special care.</p><p>Hips</p><p>Massage the hips with a terry towel before exfoliation: this will improve blood circulation and scrubbing effect. Don’t overdo: you can damage your skin if you rub it too hard.</p><p>Take a handful of scrub and apply it to the wet skin. Massage the skin in circular motions, wash it with warm water and then splash it with lukewarm water.</p><p>Decollete, abdomen, inner surface of the upper arms</p><p>Only gentle and stroking motions, no aggressive petrissage techniques. Touch the inner surface of upper arms.</p><p>Feet</p><p>Knead your feet actively, massage them in circular motions.</p>'
//prod_7
-pid_7_prod_img = 'images/pr7.jpg'
-pid_7_prod_img_big = './images/pr7.jpg'
-pid_7_prod_id = '7'
-pid_7_prod_name = 'لون للشفاة والخدود OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT Safari'
-pid_7_prod_price = '55'
//
-pid_7_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_7_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_7_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_8
-pid_8_prod_img = 'images/pr8.jpg'
-pid_8_prod_img_big = './images/pr8.jpg'
-pid_8_prod_id = '8'
-pid_8_prod_name = 'قناع تقشير فروة الرأس OK BEAUTY WAKE UP & PEEL'
-pid_8_prod_price = '73'
//
-pid_8_description = '<p>الصيغة المستخدمة في قناع OK BEAUTY Wake Up & Peel Scalp Activator تعتمد على حمض الجليكوليك والزنك وفيتامين B6 والمستخلصات النباتية. يمنع قشرة الرأس، ويعالج الحكة، ويزيل التهيج، يسهل التطهير النشط للجلد ويعالج فروة رأسك ويمنحها المزيد من الرعاية. يعمل قناع التقشير هذا كمنظم للدهون ويقلل من مستويات إفراز الدهون مما يحافظ على نضارة بشرتك لفترة أطول، وينظف الشعر وفروة الرأس ويزيل فرط التقرن. يحسن دوران الأوعية الدقيقة لمنع تساقط الشعر وزيادة نموه. الحجم: 150 مل.</p>'
-pid_8_ingredient = '<p>حمض الجليكوليك</p><p>- يحتوي حمض ألفا هيدروكسي (AHA) على كتلة جزيئية منخفضة وحموضة تساعد على اختراق الجلد بسرعة ملحوظة، مما يؤدي إلى عملية تنفس فروة الرأس، ويسهل تغذية بصيلات الشعر مما يحسن نمو الشعر الجديد والحالي. كما انه يقلل من إفراز الدهون في البشرة، ويدمر البكتيريا، ويمنع القشرة.الزنك</p><p>أحد مضادات الأكسدة القوية التي لها خصائص مطهرة ومضادة للفطريات والشفاء. ينظف مسام البشرة ويسهل عملية تخليق الكولاجين. يعمل كمنظم للدهون ويحافظ على فروة رأسك منعشة لفترة أطول. فيتامين ب 6 يحفز نمو الشعر عن طريق تنشيط بصيلات الشعر النائمة، ويحافظ على توازن رطوبة فروة الرأس مما يمنع الهشاشة في جميع أنحاء الشعر.</p><p>لسكوالين</p><p>يحافظ على الكمية المثلى من الماء في خلايا الجلد، ويزيل القشرة ويوفر تأثير مضاد للجراثيم. مستخلص جذورعرق السوس</p><p>تصل إلى الفلافونويدات والفيتامينات والأحماض العضوية. تسهل عملية تطهير فروة الرأس اللينة دون أن تجعلها جافة أو مزعجة. تعمل كعامل مضاد للجراثيم، وتقلل من الجفاف والحكة وتقشير جلد فروة الرأس، وتمنع تساقط الشعر.</p><p>مستخلص جذور اليام البري</p><p>يحمي فروة رأسك من الإجهاد والأوساخ، ويقلل من إفراز دهون الجلد، ويجعل منطقة فروة الرأس مغطاة بشعر صحي، ويحسن الدورة الدموية، ويعزز نمو الشعر.</p><p>النيكوتيناميد</p><p>يسهل تخليق الكولاجين ويحسن خصائص البشرة الدفاعية.</p><p>السيراميد</p><p>تعزيز واستعادة حاجز الدهون الطبيعي في فروة الرأس لاستعادة غطاء الجلد، ومنع والقضاء على فرط التقرن.</p><p>Aqua, PPG-15 Stearyl Ether, Glycolic Acid, Steareth-2, Propanediol, Phytosterols, Caprylic/Capric Triglyceride, Lecithin, Squalane, Glycyrrhiza Glabra Root Extract, Soy Isoflavones, Butyrospermum Parkii Butter, Dioscorea Villosa Root Extract, Niacinamide, Pyridoxine HCL, Azelaic Acid, Ceramide 3, Zinc PCA, Steareth-21, Salicylic Acid, Dimethicone, Phenoxyethanol, Stearic Acid, Polyacrylate Crosspolymer-6, Benzyl Alcohol, Sodium Hydroxide, Ethylhexylglycerin, Cetyl Hydroxyethylcellulose, Rosmarinus Officinalis Leaf Extract, Disodium EDTA, Tocopherol</p>'
-pid_8_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من القناع على فروة الرأس الجافة أو المبللة، وانشرها بحركات لطيفة تشبه التدليك، واتركها لمد تتراوح بين 10 و 15 دقيقة. اغسله واغسل شعرك بالشامبو. استخدم القناع أكثر من 1-2 مرة في الأسبوع.</p><p>&nbsp;</p>'
//prod_9
-pid_9_prod_img = 'images/pr9.jpg'
-pid_9_prod_img_big = './images/pr9.jpg'
-pid_9_prod_id = '9'
-pid_9_prod_name = 'Moisturizing and volumizing conditioner'
-pid_9_prod_price = '92'
//
-pid_9_description = '<p>Обычные кондиционеры и бальзамы утяжеляют волосы лишая их объема, но только не легкий кондиционер OK BEAUTY MOISTURIZE &amp; VOLUMIZE, обеспечивающий необходимое увлажнение и питание поврежденных волос без утяжеления и потери объема!</p><p>Подходит для любого типа волос в качестве профилактики ломкости, повреждения и истончения волос.</p><p>Объем: 250 мл</p>'
-pid_9_ingredient = '<p>Уникальный актив TILICINE: на основе почек липы, способствующий глубокому увлажнению, приданию объема волосам, питает и восстанавливает волосы, делая их гладкими и блестящими.</p><p>Протеины пшеницы: укрепляют структуру волоса, заполняя собой пустоты.</p><p>Протеины шелка и экстракт розмарина: защищают волосы делая их более послушными и поддающимися укладке.</p><p>Aqua, Cetrimonium Chloride, Glycerin, Cetearyl Alcohol, Butyrospermum Parkii Butter, Ceteareth-20, Behentrimonium Methosulfate, Tilia Tomentosa Bud Extract, Caprylic/Capric Triglyceride, Dipalmitoylethyl Hydroxyethylmonium Methosulfate, Phenoxyethanol, Benzyl Alcohol, Hydroxyethylcellulose, Butylene Glycol, Cetyl Alcohol, Ethylhexylglycerin, Polyquaternium-37, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Hydrolyzed Wheat Protein, Rosmarinus Officinalis Leaf Extract, Disodium Edta, Parfum, Tocopherol.</p>'
-pid_9_how_use = '<p>Нанесите на чистые влажные волосы, распределите и оставьте на 2-4 минуты, смойте водой. Подходит для ежедневного применения.</p>'
//prod_10
-pid_10_prod_img = 'images/pr10.jpg'
-pid_10_prod_img_big = './images/pr10.jpg'
-pid_10_prod_id = '10'
-pid_10_prod_name = 'Volumizing shampoo OK Beauty CLARIFYING & VOLUMIZING'
-pid_10_prod_price = '92'
//
-pid_10_description = '<p>Объем который продержится весь день и даже на следующий? Убедитесь в этом с новым шампунем для придания объема OK BEAUTY CLARIFYING &amp; VOLUMIZING HAIR SHAMPOO. Шампунь отлично удаляет остатки стайлинговых средств, пыли, излишки себума создавая прикорневой объем. Формула шампуня с активными компонентами и растительными экстрактами насыщена полисахаридами, флавоноидами и протеинами.</p><p>Регулярное применение шампуня придаст волосам красивый внешний вид, объем и жизненную силу.</p><p>Подходит для любого типа волос.</p><p>Объем: 250 мл.</p>'
-pid_10_ingredient = '<p>TILICINE: обеспечивает глубокое увлажнение и увеличение объема волос.</p><p>Протеины шелка: способствуют восстановлению поврежденных волос, придавая им натуральный и шелковистый блеск.</p><p>Aqua, Sodium Laureth Sulfate, Sodium Cocoamphoacetate, Coco-Glucoside, Cocamide Dea, Cocamidopropyl Betaine, Glycerin, Vp/Dmapa Acrylates Copolymer, Sodium Lauroyl Sarcosinate, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Cetrimonium Chloride, Phenoxyethanol, Sodium Chloride, Benzyl Alcohol, Citric Acid, Ethylhexylglycerin, Guar Hydroxypropyltrimonium Chloride, Disodium Edta, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Parfum, Tocopherol.</p>'
-pid_10_how_use = '<p>Нанесите шампунь мягкими массажными движениями на кожу головы и по длине волос до образования пены, смойте теплой водой. После применения шампуня рекомендуется использовать бальзам/ кондиционер/ маску. Подходит для ежедневного применения.</p>'
//prod_11
-pid_11_prod_img = 'images/pr11.jpg'
-pid_11_prod_img_big = './images/pr11.jpg'
-pid_11_prod_id = '11'
-pid_11_prod_name = 'СЫВОРОТКА-КОНЦЕНТРАТ ДЛЯ ГЛУБОКОГО ВОССТАНОВЛЕНИЯ ВОЛОС'

-pid_11_prod_price = '73'
//
-pid_11_description = '<p>Сыворотка-концентрат для глубокого восстановления волос OK BEAUTY FILL &amp; HANDLE- это незаменимый этап для восстановления структуры волос и подготовки к укладке, делает волосы послушными, убирает излишнюю пушистость и облегчает процесс укладки без применения стайлинговых средств.</p><p>Сыворотка увлажняет волокна и утолщает стержень волоса, нейтрализует статическое электричество без утяжеления и жирного блеска. Обеспечивает стойкое и продолжительное восстановление сухих, ломких и тусклых волос. В результате применения сыворотки-концентрата OK BEAUTY Fill &amp; Handle волосы становятся гладкими, менее ломкими, устойчивыми к повреждениям и термическому воздействию.</p>'
-pid_11_ingredient = '<p>Гидролизированные протеины пшеницы: защищают волосы при укладке и снижают статическое электричество</p><p>Экстракт почек липы: обеспечивает упругость , шелковистость и густоту, глубоко питает, укрепляет и восстанавливает волосы, предупреждает сухость и сечение волос, облегчает расчесывание и укладку</p><p>Масло Бабассу: богато жирными кислотами и витаминами, прекрасно впитывается, увлажняет и питает волосы, восстанавливает их структуру и предотвращает влагопотерю, что обеспечивает их послушность и более легкую укладку</p><p>Протеины шелка: восстанавливают поврежденные волосы, делая их более упругими и эластичными, защищают от негативных воздействий окружающей среды, придают волосам шелковистый блеск и здоровый ухоженный вид</p><p>Aqua, Coceth-7, Cocamidopropyl Betaine, Phenyl Trimethicone, Glycerin, Tilia Tomentosa Bud Extract, Babassu Oil Glycereth-8 Esters, Phenoxyethanol, Cetrimonium Chloride, Isohexadecane, Parfum, Benzyl Alcohol, Dimethiconol, Hydrolyzed Wheat Proteinpolyglyceryl-3 Caprate, Dimethicone, Ethylhexylglycerin, Trimethylsiloxysilicate, Hydrolyzed Silk Pg-Propyl Methylsilanediol Crosspolymer, Acrylamidopropyltrimonium Chloride/Acrylates Copolymer, Disodium Edta, Silicone Quaternium-22, Dipropylene Glycol, Benzyl Salicylate, Tocopherol</p>'
-pid_11_how_use = '<p>Нанесите небольшое количество на чистые влажные волосы, распределите по всей длине, высушите и уложите привычным для вас способом. В качестве несмываемого ухода используйте на сухие волосы. Может использоваться вместо кондиционера для волос.</p>'
//prod_12
-pid_12_prod_img = 'images/pr12.jpg'
-pid_12_prod_img_big = './images/pr12.jpg'
-pid_12_prod_id = '12'
-pid_12_prod_name = 'ФИРМЕННАЯ КОРОБКА OK BEAUTY'
-pid_12_prod_price = '29'
//
-pid_12_description = '<p>Стильная коробка из дизайнерской бумаги в фирменном цвете станет отличным оформлением для подарков.Упакуйте в нее продукты из нашей линейки или создайте новогодние композиции и сюрпризы вместе с ОК Beauty.</p>'

-pid_12_ingredient = ''
-pid_12_how_use = ''

//prod_13
-pid_13_prod_img = 'images/pr13.jpg'
-pid_13_prod_img_big = './images/pr13.jpg'
-pid_13_prod_id = '13'
-pid_13_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY'
-pid_13_prod_price = '455'
//
-pid_13_description = '<p>Набор со всей продукцией O.K. Beauty в эффектной коробке станет отличным подарком на любой праздник.</p><p>В набор входят:</p><p>Лосьон для тела с мерцающим эффектом</p><p>Скраб для тела увлажнение &amp; уход</p><p>Увлажняющий бальзам для увеличения объёма губ</p><p>Ухаживающее масло-праймер для лица</p><p>Фирменная коробка O.K. Beauty</p>'
-pid_13_ingredient = ''
-pid_13_how_use = ''
//prod_14
-pid_14_prod_img = 'images/pr14.jpg'
-pid_14_prod_img_big = './images/pr14.jpg'
-pid_14_prod_id = '14'
-pid_14_prod_name = 'ПОДАРОЧНЫЙ НАБОР O.K BEAUTY HAIR'
-pid_14_prod_price = '312'
//
-pid_14_description = '<p>Набор со всей продукцией OK Beauty Hair в эффектной коробке станет отличным подарком на любой праздник.</p><p>В набор входят:</p><p>Шампунь для придания объёма</p><p>Кондиционер для увлажнения и придания объёма</p><p>Интенсивная маска для глубокого питания и увлажнения</p>'
-pid_14_ingredient = ''
-pid_14_how_use = ''
//prod_15
-pid_15_prod_img = 'images/pr15.jpg'
-pid_15_prod_img_big = './images/pr15.jpg'
-pid_15_prod_id = '15'
-pid_15_prod_name = 'БОЛЬШОЙ ПОДАРОЧНЫЙ НАБОР ALL-IN-ONE'
-pid_15_prod_price = '734'
//
-pid_15_description = '<p>Большой подарочный набор OK Beauty All-in-one для ежедневного ухода за телом, лицом и волосами.</p><p>Идеальный подарок для каждой девушки!</p><p>В набор входят:</p><p>Шампунь для придания объема</p><p>Удаляет остатки стайлинговых средств, пыли, излишки себума Придает волосам красивый внешний вид, объем, жизненную силу Кондиционер для увлажнения и придания объема</p><p>Увлажняет и питает волосы Укрепляет структуру волоса Интенсивная маска для глубокого питания и увлажнения</p><p>Восстанавливает и уплотняет структуру волос Делает волосы более послушными и блестящими Пилинг маска для кожи головы</p><p>Улучшает микроциркуляцию, что способствует снижению выпадения волос и активирует их рост Снижает секрецию кожного сала, значительно продлевает свежесть, чистоту волос и кожи головы Сыворотка-концентрат для глубокого восстановления волос</p><p>Увлажняет волокна и утолщает стержень волоса Обеспечивает стойкое и продолжительное восстановление сухих, ломких и тусклых волос. Шиммер-перфектор для тела с мерцающим эффектом</p><p>Придает легкий оттенок загара Создает камуфлирующий, светоотражающий эффект, помогая скрыть несовершенства кожи Скраб для тела</p><p>Способствует борьбе с растяжками Устраняет отечность и несовершенства, делая кожу более подтянутой Увлажняющий бальзам для увеличения объема губ</p><p>Увлажняет и питает губы, придает естественный эффект объема Выравнивает рельеф губ и подготавливает их к дальнейшему нанесению макияжа Ухаживающий масло-праймер для лица</p><p>Восстанавливает гидролипидный баланс и барьерные функции кожи Используется в качестве базы под макияж, выравнивает рельеф кожи Фирменная коробка OK Beauty</p>'
-pid_15_ingredient = ''
-pid_15_how_use = ''
//prod_16
-pid_16_prod_img = 'images/pr16.jpg'
-pid_16_prod_img_big = './images/pr16.jpg'
-pid_16_prod_id = '16'
-pid_16_prod_name = 'لون للشفاة والخدود OK BEAUTY LIP & CHEEK TINT Flamingo'
-pid_16_prod_price = '55'
//
-pid_16_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_16_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_16_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_17
-pid_17_prod_img = 'images/pr17.jpg'
-pid_17_prod_img_big = './images/pr17.jpg'
-pid_17_prod_id = '17'
-pid_17_prod_name = 'لون للشفاة والخدود OK BEAUTY LIP & CHEEK TINT Cocoa'
-pid_17_prod_price = '55'
//
-pid_17_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_17_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_17_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_18
-pid_18_prod_img = './images/pr18.jpg'
-pid_18_prod_img_big = './images/pr18.jpg'
-pid_18_prod_id  = '18'
-pid_18_prod_name = 'لون للشفاة والخدودOK BEAUTY LIP & CHEEK TINT Hillier'
-pid_18_prod_price = '55'
//
-pid_18_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_18_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_18_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_19
-pid_19_prod_img = 'images/pr19.jpg'
-pid_19_prod_img_big = './images/pr19.jpg'
-pid_19_prod_id = '19'
-pid_19_prod_name = 'لون للشفاة والخدود OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT Tanami'
-pid_19_prod_price = '55'
//
-pid_19_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_19_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_19_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
//prod_20
-pid_20_prod_img = 'images/pr20.jpg'
-pid_20_prod_img_big = './images/pr20.jpg'
-pid_20_prod_id = '20'
-pid_20_prod_name = 'Lip and cheek tint OK Beauty OK BEAUTY СOLOR SALUTE LIP & CHEEK TINT, Safari'
-pid_20_prod_price = '55'
//
-pid_20_description = '<p>&nbsp;</p><p>OK BEAUTY СOLOUR SALUTE منتج فريد من نوعه يسلط الضوء على جمالك الطبيعي. اختاري لونك الخاص بنفسك وارسمي عينيك.</p><p>متعددة الوظائف، لون طويل المفعول للخد والشفاه</p><p>تشتمل اللوحة على 6 ألوان عصرية يمكنك استخدامها مع مكياج النهار والليل.</p><p>الحجم: 7 مل</p>'
-pid_20_ingredient = '<p>Isododecane, Octyldodecanol, Hydrogenated Polyisobutene, Cyclomethicone, Kaolin, Cyclopentasiloxane, Dimethicone/Vinyltrimethylsiloxysilicate Crosspolymer, Silica Dimethyl Silylate, Ozokerite, Polyethylene, Aluminum Starch Octenylsuccinate, Methyl Methacrylate Crosspolymer, Polyglyceryl-3 Polyricinoleate, Peg-8, Tocopherol, Ascorbyl Palmitate, Ascorbic Acid, Citric Acid, Parfume; May contain: CI 77891, CI 15850, CI15880, CI 77491, CI 77492, CI77499, CI 45410, CI 75470, CI 15985</p>'
-pid_20_how_use = '<p>&nbsp;</p><p>ضع كمية صغيرة من المنتج</p><p>على الشفاه والخدين باستخدام أطراف</p><p>الأصابع أو الفرشاة. لتحقيق</p><p>نتيجة أفضل على الشفاه، قم بتطبيق الصبغة النقر.</p>'
// Product page
-annotation = 'bestseller'
//
-product__desc_title = 'الوصف'
-ingredient_title = 'المكونات النشطة والتركيبة'
-how__use_title = 'التعليمات'
-review_title = 'التعليقات'
//
-recomend_title = 'buy with this product'
//Cart page
-cart_title = 'ORDERING'
-your_order = 'Your order'
-total_price = 'Total price'
-remove_all = 'clear all'
//
-user_name = 'Your name'
-user_phone = 'Your phone'
-user_country = 'Сhoose сountry'
-submit_title = 'Order'