<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        script(src="js/app.min.js")
        title Document
    body
        include views/header.pug
        main
            <p>URL: http://test.com/?<span id="params"></span></p>
            <p><input placeholder="Enter URL params" /></p>
            <pre id="results">{}</pre>
            
            .product__list.hidden
                include views/product-list.pug
                //end product-list
            .product__page.hidden
                include views/product-page.pug
                //end-product-page
            .cart__page.hidden
                include views/cart.pug
        //end main
        include views/footer.pug