@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import 'main.scss';


header{
    .top__panel{
        .logo__left{
            text-align: right;
            img{
                float: none;
            }
        }
        .cart__right{
            text-align: left;
        }
    }
}
main{
    .product__page{
        .product__feature{
            .box{
                text-align: right;
            }
        }
    }
    .product__wrapper{
        .product__item{
            float: right;
        }
    }
    .hero__slider{
        .item{
            &.__3{
                a.button{
                    margin-top: 70px;
                }
                .text{
                    .__1{
                        &::before{
                            top: auto;
                            bottom: -50px;
                        }
                    }
                }
            }
            &.__6{
                .text{
                    margin-top: 50px;
                }
            }
        }
        .slider__nav{
            a.uk-slidenav-next{
                left: 20px;
                right: auto
            }
            a.uk-slidenav-previous{
                right: 20px;
                left: auto;
            }
        }
    }
}
